.jsonforms-container > .spriteEditor {
    overflow: hidden;
    padding: 0;
    position: relative;
}

.spriteEditor canvas {
    border: none !important; 
}

.spriteEditor .tool {
    background-color: var(--theia-editorGroupHeader-tabsBackground);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    min-height: 32px;
    min-width: 32px;
}

.spriteEditor .tool:hover,
.spriteEditor .tool.active {
    border-color: var(--theia-editorGroupHeader-tabsBackground);
    outline: 1px solid var(--theia-button-background);
    outline-offset: -1px;
}

.spriteEditor .frame {
    box-sizing: border-box;
    flex-grow: unset;
    height: 75px;
    min-height: 75px;
    min-width: 75px;
    width: 75px;
}

.spriteEditor .layer {
    padding: var(--theia-ui-padding)
}

.spriteEditor .layer input {
    width: 120px;
}