.spriteEditor {
    overflow: hidden !important;
}

.spriteEditor canvas {
    border: none !important; 
    /* 
    border: 1px solid var(--theia-activityBar-background) !important; 
    border-radius: 2px;
    box-sizing: border-box;
    */
}

.spriteEditor .tool {
    background-color: var(--theia-editorGroupHeader-tabsBackground);
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    height: 32px;
    width: 32px;
}

.spriteEditor .tool:hover,
.spriteEditor .tool.active {
    border-color: var(--theia-button-background);
}

.spriteEditor .frame {
    box-sizing: border-box;
    flex-grow: unset;
    height: 75px;
    min-height: 75px;
    min-width: 75px;
    width: 75px;
}

.spriteEditor .layer {
    padding: var(--theia-ui-padding)
}

.spriteEditor .layer input {
    width: 120px;
}