.translationsEditor textarea.theia-input {
  font-family: monospace;
  font-size: 12px;
  line-height: 100%;
  max-height: 340px;
  max-width: 365px;
  min-height: 12px;
  min-width: 365px;
  padding: 3px 5px;
}

.translationsEditor textarea.theia-input:disabled {
  resize: none;
}

.translationsEditor .translationsTable {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: auto;
  padding: 2px 0;
  width: 100%;
}

.translationsEditor .translationsTable>div {
  display: flex;
  gap: 15px;
}

.translationsEditor .translationsTable .translationId {
  min-width: 210px;
  width: 210px;
}

.translationsEditor .translationsTable .translationId>input {
  min-width: 200px;
  width: 200px;
}

.translationsEditor .translationsTable .translationStrings {
  flex-grow: 1;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.translationsEditor .translationsTable .translationLanguage {
  display: flex;
  gap: 5px;
}

.translationsEditor .translationsTable .translationLanguage label {
  font-family: monospace;
  font-size: 12px;
  min-width: 18px;
  padding-top: 3px;
  text-align: right;
  width: 18px;
}

.translationsEditor .translationsTable .translationActions {
  align-items: start;
  display: flex;
  justify-content: center;
  min-width: 40px;
  visibility: hidden;
  width: 40px;
}

.translationsEditor .translationsTable>div:hover .translationActions {
  visibility: visible;
}

.translationsEditor .translationsTable .translationActions button {
  margin: 0;
  min-width: 16px;
}

.translationsEditor .translationsTable .translationAdd {
  align-items: center;
  border: var(--theia-border-width) dashed var(--theia-dropdown-border);
  color: var(--theia-dropdown-border);
  cursor: pointer;
  display: flex;
  height: var(--theia-content-line-height);
  justify-content: center;
  width: 207px;
}

.translationsEditor .translationsTable .translationAdd:hover {
  background-color: var(--theia-button-hoverBackground);
  border-color: var(--theia-button-hoverBackground);
  border-style: solid;
  color: var(--theia-button-hoverForeground);
}