#vesFlashCartWidget .theia-TreeContainer.empty {
  height: unset;
}

#vesFlashCartWidget .connected-flash-carts {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

#vesFlashCartWidget {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  outline: none;
}

#vesFlashCartWidget .flashingActions {
  display: flex;
  flex-direction: column;
  gap: var(--theia-ui-padding);
  padding: calc(var(--theia-ui-padding) * 2);
}

#vesFlashCartWidget .flashCarts {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--theia-ui-padding) * 2);
  padding: calc(var(--theia-ui-padding) * 2);
}

#vesFlashCartWidget .flashCart {
  border-radius: 2px;
  border: 1px solid var(--theia-editorGroup-border);
  padding: calc(var(--theia-ui-padding) * 2);
  width: 500px;
}

#vesFlashCartWidget .theia-button.abort,
#vesFlashCartWidget .theia-button.cancel,
#vesFlashCartWidget .theia-button.flash {
  margin: 0;
  width: 100%;
}

#vesFlashCartWidget .flashCartInfo {
  display: flex;
  gap: calc(var(--theia-ui-padding) * 2);
}

#vesFlashCartWidget .flashCartInfo h2 {
  margin-top: 0;
}

#vesFlashCartWidget .flashCartInfo>div:first-child {
  flex-grow: 1;
}

#vesFlashCartWidget .flashCartInfo>div:first-child>div {
  margin: var(--theia-ui-padding) 0;
  padding-left: 24px;
  position: relative;
}

#vesFlashCartWidget .flashCartInfo>div:first-child>div>i {
  left: 0;
  position: absolute;
  top: 1px;
}

#vesFlashCartWidget .flashCartInfo img {
  max-width: 100%;
  width: 150px;
}

#vesFlashCartWidget .connected-flash-carts > .infoPanel {
  border-top: 1px solid var(--theia-editorGroup-border);
  padding: calc(var(--theia-ui-padding) * 2);
}

#vesFlashCartWidget .infoPanel.success {
  color: var(--theia-editorSuccess-foreground);
}

#vesFlashCartWidget .infoPanel.warning {
  color: var(--theia-editorWarning-foreground);
}

#vesFlashCartWidget .flashLogWrapper button {
  margin: calc(var(--theia-ui-padding) * 2) 0;
}

#vesFlashCartWidget .flashLog {
  border: 1px solid var(--theia-editorGroup-border);
  box-sizing: border-box;
  flex-grow: 1;
  font-family: monospace;
  font-size: 90%;
  line-height: 130%;
  max-height: 300px;
  overflow: auto;
}

#vesFlashCartWidget .flashLog>div {
  display: table;
  padding: var(--theia-ui-padding) 0;
  width: 100%;
}

#vesFlashCartWidget .flashLogLine {
  display: table-row;
}

#vesFlashCartWidget .flashLogLine:empty {
  height: 5px;
}

#vesFlashCartWidget .flashLogLine:hover {
  background: rgba(0, 0, 0, 0.2);
}

#vesFlashCartWidget .flashLogLine .timestamp {
  display: table-cell;
  opacity: 0.5;
  padding: 0 var(--theia-ui-padding);
}

#vesFlashCartWidget .flashLogLine .text {
  display: table-cell;
  padding-right: var(--theia-ui-padding);
  white-space: pre-wrap;
  width: 100%;
}
