.iconFlash {
    -webkit-mask-image: url(../images/flash.svg);
}

.iconFlashCart {
    -webkit-mask-image: url(../images/flash-cart.svg);
}

.p-TabBar.theia-app-sides .p-TabBar-tabIcon.iconFlash,
.p-TabBar.theia-app-sides .p-TabBar-tabIcon.iconFlashCart {
    -webkit-mask-size: calc(var(--theia-private-sidebar-icon-size) - 4px) !important;
}

#ves-titlebar-action-buttons .theia-button .iconFlashCart {
    align-self: center;
    background-color: var(--theia-titleBar-activeForeground);
    display: inline-block;
    height: 19px;
    margin-bottom: -4px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 19px;
    width: 19px !important;
}