#ves-topbar-window-controls {
  -webkit-app-region: no-drag;
  flex-shrink: 0;
  float: right;
  order: 5;
}

#ves-topbar-window-controls .topbar-window-controls-separator {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  float: left;
  margin: 8px 10px 0 4px;
  height: 23px;
}

#ves-topbar-window-controls .topbar-window-controls-button {
  display: block;
  fill: var(--theia-foreground);
  float: left;
  font-size: 18px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  width: 46px;
}
#ves-topbar-window-controls .topbar-window-controls-button:hover {
  background: rgba(255, 255, 255, 0.1);
}
#ves-topbar-window-controls .topbar-window-controls-button:active {
  background: rgba(255, 255, 255, 0.2);
}

#ves-topbar-window-controls #ves-topbar-window-controls-close:hover {
  background: #e81123;
}
#ves-topbar-window-controls #ves-topbar-window-controls-close:active {
  background: #f1707a;
}
