#ves-titlebar-action-buttons {
  -webkit-app-region: no-drag;
  flex-shrink: 0;
  float: right;
  order: 4;
  margin-right: 8px;
  padding-top: 5px;
  text-align: right;
  width: 260px;
}

#ves-titlebar-action-buttons.os-linux,
#ves-titlebar-action-buttons.os-win {
  margin-right: 162px;
}

@media (max-width: 800px) {
  #ves-titlebar-action-buttons.os-linux,
  #ves-titlebar-action-buttons.os-win {
    display: none;
  }
}

#ves-titlebar-action-buttons .theia-button {
  background-color: rgba(0,0,0,0.4);
  border-radius: 3px;
  font-size: 17px;
  line-height: 27px;
  margin-left: 4px;
  min-width: 40px;
  padding: 1px 0 0;
}

#ves-titlebar-action-buttons .theia-button i {
  line-height: 16px;
  width: 16px;
}

#ves-titlebar-action-buttons .theia-button:hover {
  background-color: rgba(0,0,0,0.6);
}

#ves-titlebar-action-buttons .theia-button[disabled] {
  background-color: rgba(0,0,0,0.2);
  opacity: unset;
}

#ves-titlebar-action-buttons .theia-button.build {
  min-width: 64px;
}

#ves-titlebar-action-buttons .theia-button.queued {
  animation-name: pulseQueued;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes pulseQueued {
  0% {
    background-color: rgba(0,0,0,0.6);
  }
  50% {
    background-color: rgba(74,169,78,0.6);
  }
  100% {
    background-color: rgba(0,0,0,0.6);
  }
}