.jsonforms-container > div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.jsonforms-container .dock-layout {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
    height: 100%;
    overflow: hidden;
    padding: 2px;
    user-select: none;
}

.entityEditor .item {
    align-items: center;
    border: var(--theia-border-width) solid var(--theia-dropdown-border);
    padding: calc(2 * var(--theia-ui-padding));
}

.entityEditor .item:hover {
    border-color: var(--theia-button-hoverBackground);
}

.entityEditor .remove-button {
    margin-left: 0;
    width: fit-content;
}
