.jsonforms-container > div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.jsonforms-container .dock-layout {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
    height: 100%;
    overflow: hidden;
    padding: 2px;
    user-select: none;
}

.entityEditor .item {
    border: var(--theia-border-width) solid var(--theia-dropdown-border);
    border-radius: 2px;
    max-height: 500px;
    overflow: hidden;
    padding: calc(2 * var(--theia-ui-padding));
    position: relative;
}

.entityEditor .item:hover {
    border-color: var(--theia-button-hoverBackground);
}

.entityEditor .item > .remove-button {
    background-color: transparent;
    border: 0;
    border-bottom-left-radius: 2px;
    color: var(--theia-dropdown-border);
    cursor: pointer;
    display: none;
    height: 32px;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
}
.entityEditor .item:hover > .remove-button {
    color: var(--theia-button-hoverBackground);
    display: block;
}
.entityEditor .item:hover > .remove-button:hover {
    background-color: var(--theia-button-hoverBackground);
    color: var(--theia-button-foreground);
}

.entityEditor .item .remove-button .codicon {
    vertical-align: middle;
}

.entityEditor .add-button {
    background-color: transparent;
    border: var(--theia-border-width) solid var(--theia-dropdown-border);
    color: var(--theia-dropdown-border);
    height: 48px;
    margin-bottom: 5px;
}
.entityEditor .add-button:hover {
    color: var(--theia-button-foreground);
    border-color: var(--theia-button-hoverBackground);
}

.entityEditor .theia-input.heavyness {
    padding-left: 0;
    text-align: center;
    width: 48px;
}
.entityEditor .theia-input.heavynessLight {
    border-color: var(--theia-editorSuccess-foreground);
}
.entityEditor .theia-input.heavynessMedium {
    border-color: var(--theia-editorWarning-foreground);
}
.entityEditor .theia-input.heavynessHeavy {
    border-color: var(--theia-editorError-foreground);
}
