.jsonforms-container .preview-container {
    align-items: center;
    background-color: var(--theia-activityBar-background);
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    height: 300px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.jsonforms-container .preview-container-world {
    align-items: center;
    background-image: linear-gradient(transparent, transparent 49.9%, red 49.9%, red 50.1%, transparent 50.1%),
        linear-gradient(90deg, transparent, transparent 49.9%, blue 49.9%, blue 50.1%, transparent 50.1%) /*, 
        repeating-linear-gradient(transparent, transparent 7.9px, rgba(146,146,146,.2) 7.9px, rgba(146,146,146,.2) 8.1px),
        repeating-linear-gradient(90deg, transparent, transparent 7.9px, rgba(146,146,146,.2) 7.9px, rgba(146,146,146,.2) 8.1px) */;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: 300px;
    overflow: hidden;
    perspective: 50px;
    position: relative;
    transform-style: preserve-3d;
    width: 100%;
}

.jsonforms-container .preview-container .sprite-error {
    align-items: center;
    border: 1px dashed red;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.jsonforms-container .preview-container .sprite-error::after {
    border-top: 1px dashed red;
    content: '';
    display: block;
    position: absolute;
    transform: rotate(45deg);
    width: 150%;
}

.jsonforms-container .preview-container .sprite-error::before {
    border-top: 1px dashed red;
    content: '';
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    width: 150%;
}

.jsonforms-container .preview-container .current-frame {
    position: absolute;
    right: 10px;
    text-align: right;
    top: 10px;
}
