.jsonforms-container .preview-container {
    align-items: center;
    border: var(--theia-border-width) solid var(--theia-dropdown-border);
    border-radius: 8px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: var(--padding) 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    --ves-preview-size: 10000px;
}

.jsonforms-container .preview-container.draggable {
    cursor: grab;
}

.jsonforms-container .preview-container.dragging {
    cursor: grabbing;
}

.jsonforms-container .preview-container .current-frame {
    left: var(--padding);
    position: absolute;
    top: var(--padding);
    z-index: 10;
}

.jsonforms-container .preview-container-world {
    align-items: center;
    background: repeating-conic-gradient(rgba(0,0,0,.2) 0% 25%, transparent 0% 50%) 50% / 16px 16px;
    background-position: center;
    box-sizing: border-box;
    display: flex;
    max-height: var(--ves-preview-size);
    min-height: var(--ves-preview-size);
    justify-content: center;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    max-width: var(--ves-preview-size);
    min-width: var(--ves-preview-size);
}

.jsonforms-container .preview-container-world-center-horizontal {
    background-color: rgba(0, 0, 0, .5);
    height: 2px;
    position: absolute;
    width: var(--ves-preview-size);
}

.jsonforms-container .preview-container-world-center-vertical {
    background-color: rgba(0, 0, 0, .5);
    height: var(--ves-preview-size);
    position: absolute;
    width: 2px;
}

.jsonforms-container .preview-container-world .sprite-error {
    align-items: center;
    border: 1px dashed red;
    display: flex;
    height: 32px !important; /* override reduced height on animations */
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 32px;
}

.jsonforms-container .preview-container-world .sprite-error::after {
    border-top: 1px dashed red;
    content: '';
    display: block;
    position: absolute;
    transform: rotate(45deg);
    width: 150%;
}

.jsonforms-container .preview-container-world .sprite-error::before {
    border-top: 1px dashed red;
    content: '';
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    width: 150%;
}
