.musicEditor .addPattern {
    align-items: center;
    border: 1px solid #333;
    border-radius: 2px;
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-right: 2px;
    min-width: 23px;
    width: 23px;
}

.addPattern .patternSelect {
    display: none;
    flex-direction: row;
    gap: 1px;
    height: 100%;
}

.addPattern button {
    align-items: center;
    background-color: var(--theia-secondaryButton-background);
    border-radius: 2px;
    border: 0;
    color: var(--theia-secondaryButton-foreground);
    cursor: pointer;
    display: flex;
    font-size: 12px;
    height: 100%;
    justify-content: center;
    min-height: unset;
    min-width: 16px;
    padding: 0;
    width: 16px;
}

.addPattern button.newPattern {
    min-width: 23px;
    width: 23px;
}

.addPattern button:hover {
    background-color: var(--theia-button-background) !important;
}

.musicEditor .addPattern:hover {
    border-width: 0;
    width: unset;
}

.musicEditor .addPattern:hover > i {
    display: none;
}

.musicEditor .addPattern:hover .patternSelect {
    display: flex;
}

.addPattern .existingPatterns {
    display: flex;
    flex-grow: 1;
    gap: 1px;
}

.addPattern .existingPatterns>div {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 1px;
}

.addPattern .existingPatterns>div:empty {
    display: none;
}