.musicEditor .channel {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 1px 0;
}

.musicEditor .channel.muted {
    opacity: .4;
}

.musicEditor .collapsedChannel {
    background-color: #333;
    cursor: pointer;
    height: 5px;
    margin: 1px 0;
    width: 65px;
}

.musicEditor .patternFill {
    cursor: pointer;
    flex-grow: 1;
}

.musicEditor .channel:hover .patternFill,
.musicEditor .channel.current .patternFill {
    background-color: rgba(255, 255, 255, .02);
}