.musicEditor .channelHeader {
    background-color: var(--theia-secondaryButton-background);
    border-radius: 2px;
    box-sizing: border-box;
    color: var(--theia-secondaryButton-foreground);
    display: flex;
    flex-direction: row;
    font-size: 10px;
    margin-right: 3px;
    min-width: 75px;
    overflow: hidden;
    width: 75px;
}

.musicEditor .channelInfo {
    align-items: start;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 2px;
    justify-content: center;
    padding: 0 5px;
    width: 53px;
}

.musicEditor .channelInstrument {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.musicEditor .channelButtons {
    background-color: var(--theia-editor-background);
    border-left: 1px solid var(--theia-editor-background);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 9px;
    gap: 1px;
    height: 100%;
}

.musicEditor .channelButton {
    align-items: center;
    background-color: var(--theia-secondaryButton-background);
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 20px;
}

.musicEditor .channelButton:hover {
    background-color: var(--theia-primaryButton-background) !important;
}

.musicEditor .channel.current .channelHeader,
.musicEditor .channel.current .channelButton {
    background-color: var(--theia-secondaryButton-hoverBackground);
}

.musicEditor .channelButton i {
    opacity: .5;
}

.musicEditor .channelButton:hover i,
.musicEditor .channelButton.active i {
    opacity: 1;
}

.musicEditor .channelButton.active {
    background-color: transparent !important;
}

.musicEditor .channelVolume {
    border: 1px solid var(--theia-secondaryButton-foreground);
    box-sizing: border-box;
    height: 6px;
    width: 100%;
}

.musicEditor .channelVolume div {
    background: var(--theia-secondaryButton-foreground);
    height: 100%;
    width: 100%;
}