.musicEditor .inputWithAction {
    display: flex;
    gap: 5px;
}

.musicEditor .inputWithAction :first-child {
    flex-grow: 1;
}

.musicEditor .inputWithAction .theia-button {
    margin: 0;
    min-width: 32px;
    width: 32px;
}
