.musicEditor .metaLineNote {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    position: relative;
}

.musicEditor .pianoRoll.size-8 .metaLineNote {
    width: calc((100% - 77px) / 8);
}

.musicEditor .pianoRoll.size-16 .metaLineNote {
    width: calc((100% - 77px) / 16);
}

.musicEditor .pianoRoll.size-32 .metaLineNote {
    width: calc((100% - 77px) / 32);
}

.musicEditor .pianoRoll.size-64 .metaLineNote {
    width: calc((100% - 77px) / 64);
}

.musicEditor .metaLineNote:hover {
    outline: 1px solid var(--theia-focusBorder);
}

.musicEditor .metaLineNote:hover .effects,
.musicEditor .metaLineNote.current .effects {
    background-color: var(--theia-secondaryButton-hoverBackground);
}

.musicEditor .metaLineNote.nth {
    margin-right: 3px;
}

.musicEditor .metaLineNote .effects {
    align-items: center;
    display: flex;
    font-size: 8px;
    flex-grow: 1;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.musicEditor .metaLineNote .volume {
    align-items: end;
    background-color: var(--theia-secondaryButton-background);
    display: flex;
    height: 16px;
    width: 100%;
}

.musicEditor .metaLineNote .volume div {
    background-color: var(--theia-editor-foreground);
    flex-grow: 1;
    opacity: .4;
}