.musicEditor .metaLine {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-right: 10px;
}

.musicEditor .metaLineHeader {
    display: flex;
    flex-direction: column;
    height: 28px;
    margin-right: 3px;
    min-width: 75px;
    opacity: .5;
    width: 75px;
}

.musicEditor .metaLineHeader div {
    align-items: center;
    display: flex;
    flex-grow: 1;
}