.musicEditor .pattern {
    align-items: center;
    background-color: var(--theia-secondaryButton-background);
    border: 1px solid transparent;
    border-radius: 2px;
    box-sizing: border-box;
    color: transparent;
    cursor: grab;
    display: flex;
    justify-content: center;
    margin-right: 1px;
    overflow: hidden;
    position: relative;
}

/* .musicEditor .channel.current .pattern, */
.musicEditor .channel:hover .pattern {
    color: unset;
}

.musicEditor .pattern:hover,
.musicEditor .pattern.current {
    border-color: var(--theia-focusBorder);
}

.musicEditor .pattern .notes {
    left: 0;
    position: absolute;
    top: 0;
}

.musicEditor .pattern .remove {
    background-color: var(--theia-secondaryButton-hoverBackground);
    cursor: pointer;
    display: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 14px;
    bottom: 0;
    line-height: 21px;
}

.musicEditor .pattern.current .remove:hover {
    background-color: var(--theia-focusBorder);
}

.musicEditor .pattern.current:hover .remove {
    display: block;
}

.musicEditor .pattern.beingDragged {
    border: 1px solid var(--theia-focusBorder);
    cursor: grabbing;
    outline: 0;
    opacity: .1;
}

.musicEditor .pattern.dragOver {
    border: 1px dashed var(--theia-focusBorder);
    border-left: 4px solid var(--theia-focusBorder);
}

.musicEditor .pattern.dragOver .notes {
    left: -4px;
    top: -1px;
}