.musicEditor .pianoRollKey {
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-right: 2px solid #999;
    box-sizing: border-box;
    color: #666;
    cursor: pointer;
    display: flex;
    font-size: 8px;
    margin-right: 3px;
    min-height: 10px;
    min-width: 75px;
    padding-left: 3px;
    width: 75px;
}

.musicEditor .pianoRollRow:first-child .pianoRollKey {
    border-top: 1px solid #ccc;
}

.musicEditor .pianoRollRow:last-child .pianoRollKey {
    border-bottom: 1px solid #ccc;
}

.musicEditor .pianoRollRow:hover .pianoRollKey,
.musicEditor .pianoRollKey:hover,
.musicEditor .pianoRollKey.sharpNote:hover:after,
.musicEditor .pianoRollRow:hover .pianoRollKey.sharpNote:after {
    background: var(--theia-button-background);
    color: var(--theia-button-foreground)
}

.musicEditor .pianoRollRow.cNote .pianoRollKey {
    border-bottom-width: 3px;
}

.musicEditor .pianoRollRow.cNote:last-child .pianoRollKey {
    border-bottom-width: 1px;
}

.musicEditor .pianoRollKey.sharpNote {
    background-color: #fff !important;
    color: #ccc;
    position: relative;
}

.musicEditor .pianoRollKey.sharpNote:after {
    background: linear-gradient(90deg, #000 50%, #555 100%);
    border-right: 2px solid #999;
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    width: 55px;
}

.musicEditor .pianoRollKey>div {
    display: none;
    z-index: 1;
}

.musicEditor .pianoRollRow:hover .pianoRollKey>div,
.musicEditor .pianoRollRow.cNote .pianoRollKey>div {
    display: block;
}