.jsonforms-container .pianoRollKey {
    align-items: center;
    background-color: #f1f1f1;
    border-bottom: 0px solid #ccc;
    box-sizing: border-box;
    color: #666;
    cursor: pointer;
    display: flex;
    font-size: 8px;
    margin-right: 3px;
    min-height: 10px;
    min-width: 50px;
    padding-left: 3px;
    width: 50px;
}

.jsonforms-container .pianoRollRow:hover .pianoRollKey,
.jsonforms-container .pianoRollKey:hover,
.jsonforms-container .pianoRollKey.sharpNote:hover:after,
.jsonforms-container .pianoRollRow:hover .pianoRollKey.sharpNote:after {
    background: var(--theia-button-background);
    color: var(--theia-button-foreground)
}

.jsonforms-container .pianoRollRow.cNote .pianoRollKey {
    border-bottom-width: 2px;
}

.jsonforms-container .pianoRollRow.cNote:last-child .pianoRollKey {
    border-bottom-width: 1px;
}

.jsonforms-container .pianoRollKey.sharpNote {
    background-color: #eee !important;
    color: #ccc;
    position: relative;
}

.jsonforms-container .pianoRollKey.sharpNote:after {
    background: #111;
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    width: 75%;
}

.jsonforms-container .pianoRollKey>div {
    display: none;
    z-index: 1;
}

.jsonforms-container .pianoRollRow:hover .pianoRollKey>div,
.jsonforms-container .pianoRollRow.cNote .pianoRollKey>div {
    display: block;
}