.musicEditor .pianoRollRow:hover .pianoRollNote {
    background-color: var(--theia-secondaryButton-hoverBackground);
}

.musicEditor .pianoRollRow.cNote .pianoRollNote {
    margin-bottom: 2px;
}

.musicEditor .pianoRollRow.cNote:last-child .pianoRollNote {
    margin-bottom: 0;
}
