.musicEditor .stepIndicator {
    background-color: var(--theia-focusBorder);
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
    z-index: 1;
}

.musicEditor .stepIndicator.hidden {
    display: none;
}

.musicEditor .pianoRoll .stepIndicator {
    top: 16px;
    width: 3px;
}
