.musicEditor .toolbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.musicEditor .toolbar button {
    margin-left: 0px;
    min-width: unset;
    padding: 0;
    width: 32px;
}

.musicEditor .toolbar .playButton {
    width: 75px;
}

.musicEditor .toolbar .currentStep {
    align-items: center;
    border: 1px solid var(--theia-secondaryButton-background);
    border-radius: 2px;
    box-sizing: border-box;
    display: flex;
    height: 26px;
    justify-content: center;
    margin-right: 5px;
    width: 63px;
}

.musicEditor .toolbar .recordButton {
    margin-right: 5px;
}