#vesRumblePackWidget {
  display: flex;
  flex-direction: column;
  padding: calc(var(--theia-ui-padding) * 2);
}

#vesRumblePackWidget .rumble-pack-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: calc(var(--theia-ui-padding) * 2);
  padding-top: calc(var(--theia-ui-padding) * 2);
}

#vesRumblePackWidget .rumble-pack-container>div:last-child {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#vesRumblePackWidget .connected {
  color: var(--theia-editorSuccess-foreground);
}

#vesRumblePackWidget button {
  flex-grow: 1;
  margin: 0;
}

#vesRumblePackWidget .disconnected {
  color: var(--theia-editorError-foreground);
}

#vesRumblePackWidget .flex-row {
  display: flex;
  flex-direction: row;
  gap: var(--theia-ui-padding);
}

#vesRumblePackWidget .flex-row>div {
  flex-grow: 1;
}

#vesRumblePackWidget input,
#vesRumblePackWidget select {
  box-sizing: border-box;
  width: 100%;
}

#vesRumblePackWidget label {
  display: block;
  margin: calc(var(--theia-ui-padding) * 2) 0 2px;
}

#vesRumblePackWidget pre {
  margin: 0;
}

#vesRumblePackWidget .rumblePakLog {
  border: 1px solid var(--theia-activityBar-background);
  box-sizing: border-box;
  flex-grow: 1;
  font-family: monospace;
  font-size: 90%;
  line-height: 130%;
  overflow: auto;
}

#vesRumblePackWidget .rumblePakLog>div {
  display: table;
  padding: var(--theia-ui-padding) 0;
  width: 100%;
}

#vesRumblePackWidget .rumblePakLogLine {
  display: table-row;
}

#vesRumblePackWidget .rumblePakLogLine:empty {
  height: 5px;
}

#vesRumblePackWidget .rumblePakLogLine:hover {
  background: rgba(0, 0, 0, 0.2);
}

#vesRumblePackWidget .rumblePakLogLine>span:first-child {
  display: table-cell;
  opacity: .5;
  padding: 0 var(--theia-ui-padding);
}

#vesRumblePackWidget .rumblePakLogLine>span:last-child {
  display: table-cell;
  padding-right: var(--theia-ui-padding);
  white-space: pre-wrap;
  width: 100%;
}