#ves-topbar-application-title {
  flex-grow: 1;
  height: var(--theia-private-menubar-height);
  line-height: var(--theia-private-menubar-height);
  order: 3;
  text-align: center;
}

@media (max-width: 1000px) {
  #ves-topbar-application-title {
    visibility: hidden;
  }
}
