.gs-action-container {
    line-height: 20px;
}

.gs-action-details {
    padding-left: 5px;
    color: var(--theia-descriptionForeground);
}

.gs-container {
    padding: 20px;
}

.gs-header h1 {
    flex: 1;
    font-weight: 600;
}

.gs-hr {
    background-color: var(--theia-contrastBorder);
    height: 1px;
    border: 0;
    margin: 0px;
}

.gs-empty {
    color: var(--theia-descriptionForeground);
    font-style: italic;
}

.gs-container a {
    border: none;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
}

.gs-container .theia-button:first-child {
    margin-left: 0;
}

.gs-container a:hover {
    text-decoration: underline;
}

.gs-section-header {
    font-size: var(--theia-ui-font-size2);
    font-weight: 600;
    margin: 20px 0 5px;
}

.gs-section-header i.codicon {
    font-size: 18px;
    padding-right: 5px;
    vertical-align: text-top;
}

.gs-sub-header {
    color: var(--theia-descriptionForeground);
    text-transform: capitalize;
    font-weight: 400;
}

.gs-preference{
    margin-top: 20px;
    align-items: center;
    display: flex;
}
