.jsonforms-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  outline: none;
}

.jsonforms-container>div {
  padding: calc(var(--theia-ui-padding) * 2);
}

.jsonforms-container .error {
  color: var(--theia-errorForeground);
  font-style: italic;
}

.jsonforms-container label .codicon-question {
  cursor: context-menu;
  font-size: 14px;
  margin-left: 5px;
  vertical-align: text-bottom;
}

.jsonforms-container .count {
  border-radius: 15px;
  border: 1px solid;
  display: inline-block;
  font-size: 75%;
  line-height: 100%;
  min-width: 7px;
  opacity: .4;
  padding: 1px 2px;
  text-align: center;
  vertical-align: text-bottom;
}

