.jsonforms-container {
  --padding: calc(2 * var(--theia-ui-padding));
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  outline: none;
  width: 100%;
}

.jsonforms-container > div {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  width: 100%;
}

.jsonforms-container>div {
  padding: calc(var(--theia-ui-padding) * 2);
}

.jsonforms-container hr {
  background-color: var(--theia-foreground);
  border: none;
  height: 0;
  margin: 0;
  opacity: .1;
  padding-top: 1px;
}

.jsonforms-container .error {
  color: var(--theia-errorForeground);
  font-style: italic;
}

label i.codicon.codicon-question {
  cursor: context-menu;
  font-size: 14px;
  margin-left: 5px;
  vertical-align: text-bottom;
}

.jsonforms-container .count {
  border-radius: 15px;
  border: 1px solid;
  display: inline-block;
  font-size: 75%;
  line-height: 100%;
  min-width: 7px;
  opacity: .4;
  padding: 1px 2px;
  text-align: center;
  vertical-align: text-bottom;
}
