.actorEditor {
    outline: none !important;
}

.actorEditor .current {
    background: var(--theia-list-activeSelectionBackground);
    color: var(--theia-list-activeSelectionForeground);
    outline: var(--theia-focusBorder) solid 1px;
    outline-offset: -1px;
}

.jsonforms-container .item {
    background-color: var(--theia-editorGroupHeader-tabsBackground);
    border: var(--theia-border-width) solid var(--theia-dropdown-border);
    border-radius: 2px;
    box-sizing: border-box;
    flex-grow: 1;
    padding: var(--padding);
    position: relative;
}

.jsonforms-container .item.active,
.jsonforms-container .item:hover {
    border-color: var(--theia-button-hoverBackground);
}

.jsonforms-container .item > .remove-button {
    background-color: transparent;
    border: 0;
    border-bottom-left-radius: 2px;
    color: var(--theia-dropdown-border);
    cursor: pointer;
    display: none;
    height: 32px;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
}
.jsonforms-container .item:hover > .remove-button {
    color: var(--theia-button-hoverBackground);
    display: block;
}
.jsonforms-container .item:hover > .remove-button:hover {
    background-color: var(--theia-button-hoverBackground);
    color: var(--theia-button-foreground);
}

.jsonforms-container .item .remove-button .codicon {
    vertical-align: middle;
}

.jsonforms-container .item .header {
    border-bottom: var(--theia-border-width) solid var(--theia-dropdown-border);
    padding: var(--padding);
    margin: calc(-1 * var(--padding)) calc(-1 * var(--padding)) 10px;
}

.jsonforms-container .theia-input.heaviness {
    padding-left: 0;
    text-align: center;
    width: 48px;
}
.jsonforms-container .theia-input.heavinessLight {
    border-color: var(--theia-editorSuccess-foreground);
}
.jsonforms-container .theia-input.heavinessMedium {
    border-color: var(--theia-editorWarning-foreground);
}
.jsonforms-container .theia-input.heavinessHeavy {
    border-color: var(--theia-editorError-foreground);
}

.jsonforms-container .lightLabel {
    color: var(--theia-dropdown-border);
}
