.jsonforms-container .filePreview {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: 200px;
}

.jsonforms-container .filePreviewImage {
  align-items: center;
  background-color: var(--theia-activityBar-background);
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  height: 200px;
  justify-content: center;
  padding: 10px;
  width: 200px;
}

.jsonforms-container .filePreviewImage img {
  max-height: 100%;
  max-width: 100%;
}

.jsonforms-container .filePreviewTitle {
  text-align: center;
}

.jsonforms-container .filePreviewMeta {
  opacity: .5;
  text-align: center;
}

.jsonforms-container .filePreviewActions {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.jsonforms-container .filePreview:hover .filePreviewActions {
  display: block;
}

.jsonforms-container .fileAdd {
  align-items: center;
  border: var(--theia-border-width) solid var(--theia-dropdown-border);
  color: var(--theia-dropdown-border);
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 200px;
  justify-content: center;
  width: 200px;
}

.jsonforms-container .fileAdd:hover {
  background-color: var(--theia-input-background);
  color: inherit;
}
