.jsonforms-container {
  --ves-file-height: 150px;
  --ves-file-width: 150px;
}

.jsonforms-container .filePreview {
  background-color: var(--theia-activityBar-background);
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: var(--ves-file-height);
  padding: var(--theia-ui-padding);
  position: relative;
  width: var(--ves-file-width);
}

.jsonforms-container .filePreviewImage {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-grow: 1;
  height: 100%;
  image-rendering: pixelated;
  justify-content: center;
  overflow: hidden;
  position: relative;
  user-select: none;
  width: 100%;
}

.jsonforms-container .filePreview.multi .filePreviewImage {
  box-shadow: 1px 1px 0px var(--theia-editor-background), 
    5px 5px 0px var(--theia-activityBar-background);
}

.jsonforms-container .filePreviewTitle {
  font-size: 80%;
  text-align: center;
  overflow-wrap: break-word;
}

.jsonforms-container .filePreviewMeta {
  font-size: 80%;
  opacity: .5;
  text-align: center;
}

.jsonforms-container .filePreviewActions {
  background-color: var(--theia-activityBar-background);
  border-bottom-left-radius: 2px;
  border-top-right-radius: 2px;
  cursor: pointer;
  display: none;
  line-height: .8;
  padding: var(--theia-ui-padding);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.jsonforms-container .filePreview:hover .filePreviewActions {
  display: block;
}

.jsonforms-container .filePreviewActions:hover {
  background-color: var(--theia-button-background);
  color: #f1f1f1;
}

.jsonforms-container .fileAdd {
  align-items: center;
  border: var(--theia-border-width) solid var(--theia-dropdown-border);
  color: var(--theia-dropdown-border);
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  height: var(--ves-file-height);
  justify-content: center;
  width: var(--ves-file-width);
}

.jsonforms-container .fileAdd:not(.disabled):hover {
  background-color: var(--theia-input-background);
  color: inherit;
  cursor: pointer;
}
