.imageConvEditor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  height: 100%;
  outline: none;
}

.imageConvEditor .filePreview {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: 200px;
}

.imageConvEditor .filePreviewImage {
  align-items: center;
  background-color: var(--theia-input-background);
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  height: 200px;
  justify-content: center;
  padding: 10px;
  width: 200px;
}

.imageConvEditor .filePreviewImage img {
  max-height: 100%;
  max-width: 100%;
}

.imageConvEditor .filePreviewTitle {
  text-align: center;
}

.imageConvEditor .filePreviewMeta {
  opacity: .5;
  text-align: center;
}

.imageConvEditor .filePreviewActions {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.imageConvEditor .filePreview:hover .filePreviewActions {
  display: block;
}

.imageConvEditor .fileAdd {
  align-items: center;
  border: 1px solid var(--theia-input-background);
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 200px;
  justify-content: center;
  width: 200px;
}

.imageConvEditor .fileAdd:hover {
  background-color: var(--theia-input-background);
}
