.vesNewProjectDialogContainer {
    width: calc(650px - (var(--theia-ui-padding) * 4));
}

.vesNewProjectDialogTemplatesContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    outline: 0;
}
.vesNewProjectDialogTemplatesContainer:focus {
    box-shadow: none;
}

.vesNewProjectDialogTemplate img {
    filter: grayscale(1);
    float: left;
    height: 112px;
    width: 192px;
}

.vesNewProjectDialogTemplate.selected {
    filter: none;
    outline: 5px solid var(--theia-secondaryButton-background);
}

.vesNewProjectDialogTemplatesContainer:focus .vesNewProjectDialogTemplate.selected {
    outline-color: var(--theia-button-background);
}