.vesNewProjectDialogContainer {
    width: calc(650px - (var(--theia-ui-padding) * 4));
}

.vesNewProjectDialogTemplatesContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    outline: none !important;
}
.vesNewProjectDialogTemplatesContainer:focus {
    box-shadow: none;
}

.vesNewProjectDialogTemplate {
    background-position: center;
    background-size: cover;
    border-radius: 2px;
    filter: grayscale(1);
    height: 112px;
    width: 192px;
    z-index: 1;
}

.vesNewProjectDialogTemplate.selected {
    filter: none;
    outline: 5px solid var(--theia-secondaryButton-background);
}

.vesNewProjectDialogTemplate.barebone {
    background-image: url('../images/templates/barebone.png');
}

.vesNewProjectDialogTemplate.showcase {
    background-image: url('../images/templates/showcase.png');
}

.vesNewProjectDialogTemplate.platformer-demo {
    background-image: url('../images/templates/platformer-demo.png');
}

.vesNewProjectDialogTemplatesContainer:focus .vesNewProjectDialogTemplate.selected {
    outline-color: var(--theia-button-background);
}