#VesImagesWidget {
  display: flex;
  flex-direction: column;
  line-height: 130%;
  padding: calc(var(--theia-ui-padding) * 2);
  min-width: 250px;
}

#VesImagesWidget .convertButtons div {
  margin-top: var(--theia-ui-padding);
}

#VesImagesWidget .theia-button {
  margin: 0;
}

#VesImagesWidget .theia-button.convert {
  margin: 0;
  width: 100%;
}

#VesImagesWidget .convertStatus {
  flex-grow: 1;
}

#VesImagesWidget .convertStatus > div:last-child {
  font-size: 80%;
}

#VesImagesWidget .convertStatus .success {
  color: var(--theia-editorSuccess-foreground);
}
#VesImagesWidget .convertStatus .warning {
  color: var(--theia-editorWarning-foreground);
}
#VesImagesWidget .convertStatus .error {
  color: var(--theia-editorError-foreground);
}

#VesImagesWidget .convertStatusMeta {
  margin-top: 5px;
}
#VesImagesWidget .convertStatusMeta span {
  margin-right: 5px;
}

#VesImagesWidget .convertMode,
#VesImagesWidget .convertProcess {
  padding: 0 calc(var(--theia-ui-padding) * 2);
}

#VesImagesWidget .convertLogWrapper {
  display: flex;
  flex-grow: 1;
  height: 0;
  margin: var(--theia-ui-padding) 0;
}

#VesImagesWidget
  .convertLogWrapper.filterWarning
  .convertLogLine:not(.warning) {
  display: none;
}
#VesImagesWidget .convertLogWrapper.filterError .convertLogLine:not(.error) {
  display: none;
}

#VesImagesWidget .convertLog {
  border: 1px solid var(--theia-activityBar-background);
  box-sizing: border-box;
  flex-grow: 1;
  font-family: monospace;
  font-size: 90%;
  line-height: 130%;
  overflow: auto;
}

#VesImagesWidget .convertLog > div {
  display: table;
  padding: var(--theia-ui-padding) 0;
  width: 100%;
}

#VesImagesWidget .convertLogLine {
  display: table-row;
}

#VesImagesWidget .convertLogLine:empty {
  height: 5px;
}

#VesImagesWidget .convertLogLine:hover {
  background: rgba(0, 0, 0, 0.2);
}

#VesImagesWidget .convertLogLine.headline {
  font-weight: bold;
}

#VesImagesWidget .convertLogLine.hasFileLink {
  cursor: pointer;
}

#VesImagesWidget .convertLogLine .icon {
  display: table-cell;
  padding: 0 var(--theia-ui-padding);
}

#VesImagesWidget .convertLogLine .timestamp {
  opacity: 0.5;
  padding-right: var(--theia-ui-padding);
}

#VesImagesWidget .convertLogLine .icon .codicon {
  font-size: 100%;
  vertical-align: text-bottom;
}

#VesImagesWidget .convertLogLine.headline .icon,
#VesImagesWidget .convertLogLine.normal .icon {
  opacity: 0.5;
}

#VesImagesWidget .convertLogLine .text {
  display: table-cell;
  padding-right: var(--theia-ui-padding);
  white-space: pre-wrap;
  width: 100%;
}

#VesImagesWidget .convertLogLine.headline .text,
#VesImagesWidget .convertLogLine.done .text {
  font-weight: bold;
}

#VesImagesWidget .convertLogLine.warning {
  color: var(--theia-editorWarning-foreground);
}

#VesImagesWidget .convertLogLine.error {
  color: var(--theia-editorError-foreground);
}

#VesImagesWidget .convertLogLine.done {
  color: var(--theia-editorSuccess-foreground);
}
