.controls-container {
    align-items: center;
    bottom: calc(2 * var(--theia-ui-padding));
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    justify-content: space-between;
    left: calc(2 * var(--theia-ui-padding));
    position: absolute;
    right: calc(2 * var(--theia-ui-padding));
    z-index: 100;
}