.waveform {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 320px;
  user-select: none;
}

.waveform>div {
  display: flex;
  flex-grow: 1;
  gap: 2px;
  overflow-x: auto;
  padding-bottom: var(--theia-ui-padding);
}
