.theia-settings-container .pref-content-container.boolean {
    grid-template-columns: calc(2 * var(--theia-ui-font-size2) + var(--theia-ui-padding)) 1fr;
}

[type="checkbox"] {
    -webkit-appearance: none;
    background-color: unset !important;
    border: none !important;
    flex: unset !important;
    height: var(--theia-ui-font-size2);
    line-height: var(--theia-ui-font-size2);
    margin: 0 var(--theia-ui-padding) 0 0;
    outline: none;
    padding: 0;
    position: relative;
    width: calc(2 * (var(--theia-ui-font-size2) + var(--theia-border-width))) !important;
}

.quick-input-widget [type="checkbox"] {
    background-color: unset !important;
}

[type="checkbox"]::before {
    background-color: var(--theia-editor-background);
    border: 1px solid var(--theia-activityBar-background);
    border-radius: 10px;
    content: '';
    cursor: pointer;
    display: inline-block;
    height: var(--theia-ui-font-size2);
    position: relative;
    vertical-align: bottom;
    width: calc(2 * var(--theia-ui-font-size2));
}
[type="checkbox"]:checked::before {
    border-color: var(--theia-button-background);
}
[type="checkbox"]:disabled::before {
    background-color: transparent;
}

[type="checkbox"]:active::before,
[type="checkbox"]:focus::before {
    outline: 1px solid var(--theia-button-background);
}

[type="checkbox"]:checked::before {
    background-color: var(--theia-button-background);
}

[type="checkbox"]::after {
    aspect-ratio: 1;
    background: var(--theia-editor-foreground);
    border-radius: 50%;
    content: '';
    cursor: pointer;
    height: var(--theia-ui-font-size2);
    left: 0;
    padding: var(--theia-border-width);
    position: absolute;
    top: 0;
}

[type="checkbox"]:checked::after {
    left: unset;
    right: 0;
}