[type="checkbox"] {
    background-color: transparent;
    margin: 0;
    outline: none;
    padding: 0;
    -webkit-appearance: none;
}

[type="checkbox"]::before {
    font-size: 120%;
    margin-right: var(--theia-ui-padding);
    content: "\f096";
    display: inline-block;
    font-family: "FontAwesome";
    text-align: left;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    vertical-align: bottom;
    width: 1em;
}

[type="checkbox"]:checked::before {
    content: "\f046";
}
