.theia-button.small {
    max-height: 17px;
    min-height: 17px;
    padding: 2px 9px;
}

.theia-button.large {
    line-height: 16px;
    padding: 8px 18px;
}

/* .theia-button:active {
    transition: transform .1s;
    transform: scale(.85);
} */

.theia-button.full-width {
    margin-left: unset;
    width: 100% !important;
}

.theia-input.full-width {
    box-sizing: border-box;
    width: 100%;
}

.theia-button .codicon {
    vertical-align: middle;
}
