.codicon-rotate-45:before {
    display: inline-block;
    transform: rotate(45deg);
}

.codicon-rotate-90:before {
    display: inline-block;
    transform: rotate(90deg);
}

.codicon-rotate-180:before {
    display: inline-block;
    transform: rotate(180deg);
}

.codicon-flip-y:before {
    display: inline-block;
    transform: rotate(180deg);
}