.theia-select {
    padding: 3px 0 4px;
}

.theia-input {
    border: var(--theia-border-width) solid var(--theia-dropdown-border);
}

.theia-input.large {
    font-size: 130%;
    line-height: 160%;
}

.theia-input:disabled {
    background-color: transparent;
}

input[type="range"] {
    appearance: none;
    background: var(--theia-input-background);
    border: var(--theia-border-width) solid var(--theia-dropdown-border);
    border-radius: 100px;
    cursor: ew-resize;
    height: var(--theia-ui-font-size2);
    margin: 0;
    width: 100%;
}

input[type="range"]:focus {
    outline-width: 0;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: var(--theia-ui-font-size2);
    width: var(--theia-ui-font-size2);
    border-radius: 100px;
    background: var(--theia-foreground);
    cursor: ew-resize;
}

input[type="range"]:active,
input[type="range"]:focus {
    outline: 1px solid var(--theia-button-background);
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}