:root {
  --theia-branding-logo: url(../images/vuengine-studio.png);
}

#theia-top-panel .theia-icon {
  height: var(--theia-private-menubar-height);
  margin: 0;
  min-width: 48px !important;
}

#theia-top-panel .theia-icon:after {
  background-color: var(--theia-titleBar-activeForeground);
  content: "";
  display: block;
  height: 100%;
  margin: 0;
  -webkit-mask: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='454.000000pt' height='274.000000pt' viewBox='0 0 454.000000 274.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,274.000000) scale(0.100000,-0.100000)' stroke='none'%3E%3Cpath d='M1455 2580 l-160 -160 -485 0 -485 0 -158 -158 -157 -158 0 -649 0%0A-649 162 -163 163 -163 160 0 160 0 160 -160 160 -160 325 0 325 0 80 -80 80%0A-80 485 0 485 0 80 80 80 80 325 0 325 0 160 160 160 160 164 0 165 0 163 162%0A163 162 0 646 0 645 -163 163 -162 162 -485 0 -485 0 -160 160 -160 160 -655%0A0 -655 0 -160 -160z m2762 -1127 l-2 -648 -645 -3 -645 -2 -165 165 -165 165%0A-325 0 -325 0 -165 -165 -165 -165 -642 0 -643 0 0 650 0 650 1945 0 1945 0%0A-3 -647z'/%3E%3Cpath d='M650 1615 l0 -165 485 0 485 0 0 165 0 165 -485 0 -485 0 0 -165z'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center;
  -webkit-mask-size: 25px;
  width: 100%;
}

.theia-ApplicationShell.os-osx .theia-icon {
  visibility: hidden;
  width: 75px;
}

#theia-main-content-panel {
  background: transparent;
}
