.ves-pref-input-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.ves-pref-input-wrapper .theia-input {
    flex-grow: 1;
}

.theia-settings-container .pref-content-container a.theia-json-input {
    color: var(--theia-editor-foreground);
}
