:root {
    --theia-statusBar-height: 28px;
}
  
#theia-statusBar .area.left {
  padding-left: var(--theia-ui-padding);
}

#theia-statusBar .area.right {
  padding-right: var(--theia-ui-padding);
}

#theia-statusBar .area.left .element,
#theia-statusBar .area.right .element {
  margin-left: unset;
  padding: 0 var(--theia-ui-padding);
}

#theia-statusBar .element.active {
    font-style: italic;
}

#theia-statusBar .element.disabled {
    opacity: 0.5;
}
