:root {
  --theia-statusBar-height: 29px;
}

#theia-statusBar .area.left .element,
#theia-statusBar .area.right .element {
  margin: 0;
  padding: 0 var(--theia-ui-padding);
}

#theia-statusBar .element.active {
  font-style: italic;
}

#theia-statusBar .element.disabled {
  opacity: 0.5;
}

#theia-statusBar .area.left .element:first-child {
  margin-left: 0 !important;
  padding-left: calc(2 * var(--theia-ui-padding));
}

#theia-statusBar .area.right .element:last-child {
  padding-right: calc(2 * var(--theia-ui-padding));
}

#theia-statusBar .area.right {
  padding-right: 0;
}