.lm-TabBar.theia-app-sides .lm-TabBar-tabIcon.codicon-plug {
    font-size: 30px;
}

.theia-sidebar-menu .codicon.codicon-menu {
    font-size: 18px;
}

/* Custom tabbar decorators */
.lm-TabBar.theia-app-sides .lm-TabBar-tab[class*=ves-decorator]:after {
    background-color: var(--theia-activityBarBadge-background);
    border: 3px solid var(--theia-activityBarBadge-background);
    border-radius: 20px;
    color: var(--theia-activityBarBadge-foreground);
    font-family: FontAwesome;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    position: absolute;
    right: calc(var(--theia-ui-padding) + 1px);
    text-align: center;
    top: calc(var(--theia-ui-padding) * 4 - 1px);
    width: 14px;
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-queued:after {
    animation: hourglass 6s infinite linear;
    content: "\f252";
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress:after {
    animation: fa-spin 2s infinite linear;
    content: "\f013";
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-info:after {
    content: "\f129";
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-success:after {
    background-color: var(--theia-editorSuccess-foreground);
    border-color: var(--theia-editorSuccess-foreground);
    content: "\f00c";
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-warning:after {
    background-color: var(--theia-editorWarning-foreground);
    border-color: var(--theia-editorWarning-foreground);
    content: "\f071";
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-error:after {
    background-color: var(--theia-editorError-foreground);
    border-color: var(--theia-editorError-foreground);
    content: "\f00d";
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress {
    background-repeat: no-repeat;
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-1 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 1%, transparent 1%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-2 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 2%, transparent 2%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-3 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 3%, transparent 3%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-4 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 4%, transparent 4%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-5 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 5%, transparent 5%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-6 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 6%, transparent 6%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-7 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 7%, transparent 7%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-8 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 8%, transparent 8%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-9 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 9%, transparent 9%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-10 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 10%, transparent 10%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-11 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 11%, transparent 11%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-12 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 12%, transparent 12%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-13 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 13%, transparent 13%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-14 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 14%, transparent 14%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-15 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 15%, transparent 15%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-16 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 16%, transparent 16%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-17 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 17%, transparent 17%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-18 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 18%, transparent 18%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-19 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 19%, transparent 19%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-20 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 20%, transparent 20%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-21 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 21%, transparent 21%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-22 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 22%, transparent 22%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-23 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 23%, transparent 23%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-24 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 24%, transparent 24%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-25 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 25%, transparent 25%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-26 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 26%, transparent 26%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-27 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 27%, transparent 27%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-28 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 28%, transparent 28%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-29 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 29%, transparent 29%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-30 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 30%, transparent 30%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-31 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 31%, transparent 31%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-32 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 32%, transparent 32%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-33 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 33%, transparent 33%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-34 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 34%, transparent 34%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-35 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 35%, transparent 35%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-36 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 36%, transparent 36%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-37 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 37%, transparent 37%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-38 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 38%, transparent 38%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-39 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 39%, transparent 39%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-40 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 40%, transparent 40%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-41 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 41%, transparent 41%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-42 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 42%, transparent 42%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-43 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 43%, transparent 43%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-44 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 44%, transparent 44%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-45 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 45%, transparent 45%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-46 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 46%, transparent 46%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-47 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 47%, transparent 47%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-48 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 48%, transparent 48%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-49 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 49%, transparent 49%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-50 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 50%, transparent 50%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-51 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 51%, transparent 51%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-52 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 52%, transparent 52%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-53 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 53%, transparent 53%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-54 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 54%, transparent 54%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-55 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 55%, transparent 55%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-56 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 56%, transparent 56%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-57 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 57%, transparent 57%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-58 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 58%, transparent 58%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-59 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 59%, transparent 59%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-60 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 60%, transparent 60%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-61 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 61%, transparent 61%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-62 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 62%, transparent 62%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-63 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 63%, transparent 63%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-64 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 64%, transparent 64%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-65 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 65%, transparent 65%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-66 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 66%, transparent 66%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-67 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 67%, transparent 67%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-68 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 68%, transparent 68%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-69 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 69%, transparent 69%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-70 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 70%, transparent 70%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-71 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 71%, transparent 71%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-72 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 72%, transparent 72%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-73 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 73%, transparent 73%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-74 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 74%, transparent 74%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-75 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 75%, transparent 75%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-76 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 76%, transparent 76%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-77 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 77%, transparent 77%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-78 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 78%, transparent 78%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-79 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 79%, transparent 79%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-80 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 80%, transparent 80%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-81 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 81%, transparent 81%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-82 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 82%, transparent 82%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-83 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 83%, transparent 83%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-84 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 84%, transparent 84%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-85 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 85%, transparent 85%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-86 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 86%, transparent 86%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-87 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 87%, transparent 87%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-88 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 88%, transparent 88%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-89 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 89%, transparent 89%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-90 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 90%, transparent 90%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-91 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 91%, transparent 91%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-92 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 92%, transparent 92%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-93 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 93%, transparent 93%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-94 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 94%, transparent 94%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-95 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 95%, transparent 95%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-96 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 96%, transparent 96%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-97 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 97%, transparent 97%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-98 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 98%, transparent 98%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-99 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 99%, transparent 99%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-100 {
    background-image: linear-gradient(90deg, var(--theia-progressBar-background) 0%, var(--theia-progressBar-background) 100%, transparent 100%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-1 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 1%, transparent 1%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-2 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 2%, transparent 2%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-3 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 3%, transparent 3%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-4 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 4%, transparent 4%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-5 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 5%, transparent 5%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-6 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 6%, transparent 6%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-7 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 7%, transparent 7%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-8 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 8%, transparent 8%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-9 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 9%, transparent 9%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-10 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 10%, transparent 10%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-11 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 11%, transparent 11%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-12 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 12%, transparent 12%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-13 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 13%, transparent 13%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-14 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 14%, transparent 14%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-15 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 15%, transparent 15%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-16 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 16%, transparent 16%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-17 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 17%, transparent 17%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-18 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 18%, transparent 18%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-19 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 19%, transparent 19%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-20 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 20%, transparent 20%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-21 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 21%, transparent 21%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-22 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 22%, transparent 22%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-23 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 23%, transparent 23%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-24 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 24%, transparent 24%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-25 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 25%, transparent 25%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-26 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 26%, transparent 26%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-27 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 27%, transparent 27%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-28 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 28%, transparent 28%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-29 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 29%, transparent 29%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-30 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 30%, transparent 30%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-31 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 31%, transparent 31%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-32 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 32%, transparent 32%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-33 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 33%, transparent 33%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-34 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 34%, transparent 34%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-35 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 35%, transparent 35%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-36 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 36%, transparent 36%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-37 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 37%, transparent 37%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-38 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 38%, transparent 38%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-39 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 39%, transparent 39%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-40 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 40%, transparent 40%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-41 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 41%, transparent 41%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-42 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 42%, transparent 42%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-43 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 43%, transparent 43%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-44 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 44%, transparent 44%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-45 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 45%, transparent 45%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-46 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 46%, transparent 46%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-47 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 47%, transparent 47%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-48 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 48%, transparent 48%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-49 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 49%, transparent 49%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-50 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 50%, transparent 50%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-51 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 51%, transparent 51%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-52 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 52%, transparent 52%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-53 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 53%, transparent 53%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-54 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 54%, transparent 54%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-55 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 55%, transparent 55%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-56 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 56%, transparent 56%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-57 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 57%, transparent 57%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-58 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 58%, transparent 58%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-59 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 59%, transparent 59%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-60 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 60%, transparent 60%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-61 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 61%, transparent 61%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-62 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 62%, transparent 62%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-63 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 63%, transparent 63%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-64 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 64%, transparent 64%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-65 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 65%, transparent 65%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-66 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 66%, transparent 66%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-67 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 67%, transparent 67%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-68 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 68%, transparent 68%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-69 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 69%, transparent 69%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-70 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 70%, transparent 70%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-71 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 71%, transparent 71%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-72 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 72%, transparent 72%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-73 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 73%, transparent 73%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-74 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 74%, transparent 74%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-75 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 75%, transparent 75%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-76 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 76%, transparent 76%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-77 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 77%, transparent 77%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-78 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 78%, transparent 78%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-79 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 79%, transparent 79%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-80 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 80%, transparent 80%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-81 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 81%, transparent 81%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-82 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 82%, transparent 82%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-83 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 83%, transparent 83%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-84 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 84%, transparent 84%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-85 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 85%, transparent 85%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-86 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 86%, transparent 86%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-87 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 87%, transparent 87%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-88 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 88%, transparent 88%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-89 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 89%, transparent 89%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-90 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 90%, transparent 90%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-91 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 91%, transparent 91%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-92 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 92%, transparent 92%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-93 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 93%, transparent 93%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-94 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 94%, transparent 94%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-95 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 95%, transparent 95%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-96 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 96%, transparent 96%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-97 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 97%, transparent 97%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-98 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 98%, transparent 98%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-99 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 99%, transparent 99%);
}

.lm-TabBar.theia-app-sides .lm-TabBar-tab.ves-decorator-progress-with-warnings.ves-decorator-progress-100 {
    background-image: linear-gradient(90deg, var(--theia-editorWarning-foreground) 0%, var(--theia-editorWarning-foreground) 100%, transparent 100%);
}

@keyframes hourglass {
    0% {
        content: "\f251";
        transform: rotate(0deg);
    }

    5% {
        content: "\f252";
    }

    10% {
        content: "\f253";
    }

    40% {
        content: "\f253";
        transform: rotate(0deg);
    }

    50% {
        content: "\f253";
        transform: rotate(180deg);
    }

    55% {
        content: "\f252";
    }

    60% {
        content: "\f251";
    }

    90% {
        content: "\f251";
        transform: rotate(180deg);
    }

    100% {
        content: "\f251";
        transform: rotate(360deg);
    }
}