#main-toolbar {
  --theia-toolbar-height: var(--theia-statusBar-height);
  --theia-toolbar-item-padding: 4px;
  --theia-toolbar-icon-size: 16px;
  border-bottom: var(--theia-border-width) solid var(--theia-statusBar-border);
  padding: 0;
  z-index: 1;
}

#main-toolbar .toolbar-item {
  border-radius: 0;
  height: var(--theia-toolbar-height);
  margin: 0;
  padding: 0;
  text-align: center;
}

#main-toolbar .toolbar-item .codicon,
#main-toolbar .toolbar-item .fa {
  border-radius: 0;
  box-sizing: border-box;
  height: var(--theia-toolbar-height);
  line-height: calc(var(--theia-toolbar-height) - 2px);
  min-width: var(--theia-toolbar-height);
}

#main-toolbar .separator {
  background-color: var(--theia-mainToolbar-foreground);
  margin: var(--theia-ui-padding);
  opacity: 0.3;
}
