#vesEmulatorWidget {
  display: flex;
  flex-direction: column;
}

#vesEmulatorUi {
  display: flex;
  justify-content: center;
  min-width: 384px;
}

#vesEmulatorUi > div {
  margin: calc(var(--theia-ui-padding) * 2) var(--theia-ui-padding);
}

#vesEmulatorUi button.theia-button {
  height: 26px;
  margin: 0 2px;
  min-width: 32px;
  vertical-align: top;
}

#vesEmulatorUi select.theia-select {
  margin: 0 2px;
}

#vesEmulatorWrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  min-height: 224px;
  min-width: 384px;
  overflow: hidden;
}

iframe#vesEmulatorFrame {
  background: #111;
  border: none;
  overflow: hidden;
}
