#ves-topbar-action-buttons {
  -webkit-app-region: no-drag;
  flex-shrink: 0;
  float: right;
  order: 4;
  overflow: visible !important;
  padding-right: 8px;
  padding-top: 5px;
}

#ves-topbar-action-buttons.os-linux,
#ves-topbar-action-buttons.os-windows {
  padding-right: 162px;
}

@media (max-width: 800px) {
  #ves-topbar-action-buttons {
    display: none;
  }
}

#ves-topbar-action-buttons .theia-button {
  border-radius: 3px;
  font-size: 18px;
  line-height: 27px;
  margin-left: 4px;
  min-width: 40px;
  padding: 1px 0 0;
}
