#ves-topbar-action-buttons {
  -webkit-app-region: no-drag;
  flex-shrink: 0;
  float: right;
  order: 4;
  margin-right: 8px;
  padding-top: 5px;
}

#ves-topbar-action-buttons.os-linux,
#ves-topbar-action-buttons.os-win {
  margin-right: 162px;
}

@media (max-width: 800px) {
  #ves-topbar-action-buttons.os-linux,
  #ves-topbar-action-buttons.os-win {
    display: none;
  }
}

#ves-topbar-action-buttons .theia-button {
  background-color: #333;
  border-radius: 3px;
  color: #ccc;
  font-size: 18px;
  line-height: 27px;
  margin-left: 4px;
  min-width: 40px;
  padding: 1px 0 0;
}
#ves-topbar-action-buttons .theia-button:not([disabled]):hover {
  background-color: #1a2a6c;
}
#ves-topbar-action-buttons .theia-button.build {
  min-width: 64px;
}