#ves-titlebar-action-buttons {
  order: 3;
  text-align: right;
  white-space: nowrap;
  z-index: 1;
}

.titlebar-action-button {
  -webkit-app-region: no-drag;
  cursor: pointer;
  display: none;
  fill: var(--theia-titleBar-activeForeground);
  font-size: 18px;
  height: var(--theia-private-menubar-height);
  line-height: var(--theia-private-menubar-height);
  text-align: center;
  width: 46px;
}

.theia-maximized .titlebar-action-button {
  display: inline-block;
}


.titlebar-action-button:hover,
.titlebar-action-button:active {
  background: rgba(255, 255, 255, .3);
}
