#ves-titlebar-application-title {
  flex-grow: 1;
  order: 2;
}

#ves-titlebar-application-title>div {
  height: var(--theia-private-menubar-height);
}

#ves-titlebar-application-title .applicationTitle {
  -webkit-app-region: no-drag;
  align-items: center;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  gap: 5px;
  height: calc(var(--theia-private-menubar-height) - 10px);
  justify-content: center;
  left: 35%;
  line-height: calc(var(--theia-private-menubar-height) - 10px);
  overflow: hidden;
  padding: 0 20px 0 10px;
  position: fixed;
  text-overflow: ellipsis;
  top: 5px;
  white-space: nowrap;
  width: 30%;
  z-index: 10;
}

#ves-titlebar-application-title .applicationTitle:hover {
  background-color: rgba(255, 255, 255, .3);
}

@media (max-width: 1200px) {
  .theia-ApplicationShell:not(.os-osx) #ves-titlebar-application-title .applicationTitle {
    left: 40%;
    width: 20%;
  }
}

@media (max-width: 1000px) {
  .theia-ApplicationShell:not(.os-osx) #ves-titlebar-application-title .applicationTitle {
    display: none;
  }
}