:root {
  --theia-private-menubar-height: 38px;
}

#theia-top-panel,
#theia-top-panel>div {
  -webkit-app-region: drag;
  user-select: none;
}

#theia-top-panel .theia-icon {
  min-width: 50px;
  z-index: 1;
}

#theia-top-panel .p-MenuBar-content {
  -webkit-app-region: no-drag;
  z-index: 1;
}

#theia-top-panel .p-MenuBar-item {
  line-height: calc(var(--theia-private-menubar-height) - 10px);
}

#theia-top-panel .p-MenuBar-item.p-mod-active {
  background: rgba(255, 255, 255, .3);
}

#theia-top-panel .ps__rail-x,
#theia-top-panel .ps__rail-y {
  display: none;
}