#ves-titlebar-window-controls {
  min-width: 140px;
  order: 4;
  text-align: right;
  z-index: 1;
}

#ves-titlebar-window-controls .titlebar-window-controls-button {
  -webkit-app-region: no-drag;
  display: inline-block;
  fill: var(--theia-titleBar-activeForeground);
  font-size: 18px;
  height: var(--theia-private-menubar-height);
  line-height: var(--theia-private-menubar-height);
  text-align: center;
  width: 46px;
}

#ves-titlebar-window-controls .titlebar-window-controls-button:hover,
#ves-titlebar-window-controls .titlebar-window-controls-button:active {
  background: rgba(255, 255, 255, .3);
}
