#ves-titlebar-window-controls {
  -webkit-app-region: no-drag;
  position: absolute;
  right: 0;
  z-index: 1;
}

#ves-titlebar-window-controls .titlebar-window-controls-separator {
  border-left: 1px solid;
  float: left;
  height: 23px;
  margin: 8px 10px 0 4px;
  opacity: 0.2;
}

#ves-titlebar-window-controls .titlebar-window-controls-button {
  display: block;
  fill: var(--theia-titleBar-activeForeground);
  float: left;
  font-size: 18px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  width: 46px;
}
#ves-titlebar-window-controls .titlebar-window-controls-button:hover {
  background: rgba(255, 255, 255, 0.1);
}
#ves-titlebar-window-controls .titlebar-window-controls-button:active {
  background: rgba(255, 255, 255, 0.2);
}
/*
#ves-titlebar-window-controls #ves-titlebar-window-controls-close:hover {
  background: #e81123;
}
#ves-titlebar-window-controls #ves-titlebar-window-controls-close:active {
  background: #f1707a;
}
*/