.font-editor:focus {
  overflow: hidden;
}

.font-editor:focus {
  outline: none;
}

.font-editor canvas {
  border: none !important;
}

/* Character Table */

.font-editor .characters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
  max-width: 286px;
  padding: 3px;
}

.font-editor .characters .character {
  color: var(--theia-input-background);
  cursor: pointer;
  /* filter: grayscale(1) brightness(1.5); */
  max-height: 64px;
  max-width: 64px;
  overflow: hidden;
  position: relative;
}

.font-editor .characters .character canvas {
  background-color: #000;
}

.font-editor .characters .line {
  display: flex;
  gap: 1px;
}

.font-editor .characters.grid-0 .line {
  gap: 0;
}

.font-editor .characters.grid-1 .line {
  gap: 1px;
}

.font-editor .characters.grid-2 .line {
  gap: 2px;
}

.font-editor .characters.grid-3 .line {
  gap: 3px;
}

.font-editor .characters .line:nth-child(8) .character {
  margin-bottom: 6px;
}

.font-editor .characters .header {
  align-items: center;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.font-editor .characters .character:not(.inactive):hover,
.font-editor .characters .character.active {
  border-radius: 1px;
  /* filter: none; */
  outline: 2px solid var(--theia-focusBorder);
  outline-offset: 1px;
  z-index: 1;
}

.font-editor .characters .character.inactive {
  cursor: not-allowed;
  opacity: .1;
}

.font-editor .characters .character div {
  margin: -2px 0 0 -2px;
  height: 2px;
  width: 2px;
}

/* Current Character */

.font-editor .current-character {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.font-editor .current-character.grid-0 {
  gap: 0;
}

.font-editor .current-character.grid-1 {
  gap: 1px;
}

.font-editor .current-character.grid-2 {
  gap: 2px;
}

.font-editor .current-character.grid-3 {
  gap: 3px;
}

.font-editor .current-character .line {
  display: flex;
  gap: 1px;
}

.font-editor .current-character.grid-0 .line {
  gap: 0;
}

.font-editor .current-character.grid-1 .line {
  gap: 1px;
}

.font-editor .current-character.grid-2 .line {
  gap: 2px;
}

.font-editor .current-character.grid-3 .line {
  gap: 3px;
}

.font-editor .current-character .pixel {
  aspect-ratio: 1;
  cursor: crosshair;
  display: flex;
  flex-grow: 1;
  min-width: 16px;
  position: relative;
}

.font-editor .current-character .line.inactive .pixel,
.font-editor .current-character .pixel.inactive {
  cursor: not-allowed;
  opacity: .1;
}

/* Colors */

.font-editor .color-0 {
  background-color: #000;
}

.font-editor .color-1 {
  background-color: #500;
}

.font-editor .color-2 {
  background-color: #a00;
}

.font-editor .color-3 {
  background-color: #f00;
}

/* Tools */

.font-editor .tools {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.font-editor .tools button {
  height: 24px;
  margin: 0;
  min-width: unset;
  white-space: nowrap;
  width: calc(50% - 1px);
}

/* Palette */

.font-editor .palette {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.font-editor .palette div {
  align-items: center;
  aspect-ratio: 1;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: var(--theia-ui-font-size1);
  justify-content: center;
  width: calc(50% - 1px);
}

.font-editor .palette div:hover {
  outline: 1px solid var(--theia-focusBorder);
}

/* Current Character Meta */

.font-editor .current-character-info {
  text-align: center;
  width: 76px;
}

.font-editor .current-character-info input {
  background-color: transparent;
  box-sizing: border-box;
  font-size: 190%;
  letter-spacing: -1px;
  line-height: 44px;
  padding: 0;
  text-align: center;
  width: 100%;
}

.font-editor .current-character .pixel:hover {
  outline: 1px solid var(--theia-focusBorder);
  z-index: 1;
}
