/* TODO: move style overrides to separate place. branding folder? */

/* do not drag main menu popups 4px to the top */
.p-MenuBar-menu {
  transform: none;
}

:root {
  --theia-private-menubar-height: 38px;
  --theia-statusBar-height: 28px;
}

#theia-top-panel {
  -webkit-app-region: drag;
  display: flex;
  flex-wrap: nowrap;
  padding-right: 154px;
  user-select: none;
}
[id="theia:icon"] {
  -webkit-app-region: no-drag;
  flex-shrink: 0;
  order: 1;
}
[id="theia:menubar"] {
  -webkit-app-region: no-drag;
  flex-shrink: 0;
  order: 2;
}

#theia-statusBar .area.left {
  padding-left: var(--theia-ui-padding);
}

#theia-statusBar .area.right {
  padding-right: var(--theia-ui-padding);
}

#theia-statusBar .area.left .element,
#theia-statusBar .area.right .element {
  margin-left: unset;
  padding: 0 var(--theia-ui-padding);
}