/* TODO: find better way to resize top panel */
#theia-top-panel {
  height: 39px !important;
}
#theia-left-right-split-panel {
  bottom: 19px !important;
  height: auto !important;
  top: 39px !important;
}

/* TODO: find better way to hide scroll bar */
#theia-top-panel .ps__rail-x,
#theia-top-panel .ps__rail-y {
  display: none;
}

/* TODO: is there a better way? */
.p-MenuBar-menu {
  margin-top: 4px;
}

:root {
  --theia-private-menubar-height: 38px;
}

#theia-top-panel {
  -webkit-app-region: drag;
  display: flex;
  flex-wrap: nowrap;
  user-select: none;
}
[id="theia:icon"] {
  -webkit-app-region: no-drag;
  flex-shrink: 0;
  order: 1;
}
[id="theia:menubar"] {
  -webkit-app-region: no-drag;
  flex-shrink: 0;
  order: 2;
}
