#ves-topbar-application-title {
  flex-grow: 1;
  height: var(--theia-private-menubar-height);
  line-height: var(--theia-private-menubar-height);
  order: 3;
  text-align: center;
}

#ves-topbar-application-title.os-osx {
  padding-left: 260px;
}

@media (max-width: 1000px) {
  #ves-topbar-application-title:not(.os-osx) {
    visibility: hidden;
  }
}
