.columnTableEditor .editor {
  display: flex;
  flex-direction: column;
  gap: 10px;
  user-select: none;
}

.columnTableEditor .editor>div {
  display: flex;
  gap: 1px;
  overflow-x: auto;
}

.columnTableEditor .editor>div>div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1px;
  min-width: 20px;
}

.columnTableEditor .editor .theia-input {
  font-size: 12px;
  padding: 0;
  text-align: center;
}

.columnTableEditor .editor input[type=number]::-webkit-inner-spin-button,
.columnTableEditor .editor input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.columnTableEditor .editor .index {
  align-items: center;
  color: var(--theia-input-background);
  display: flex;
  font-size: 8px;
  justify-content: center;
  line-height: 14px;
}

.columnTableEditor .editor .editorRowHeader {
  padding: 16px 4px 0 0;
}

.columnTableEditor .editor .editorRowHeader div {
  color: var(--theia-input-background);
  font-size: 8px;
  line-height: var(--theia-content-line-height);
  text-align: right;
}