.theia-aboutDialog {
    line-height: 1.4;
    max-width: 520px;
}

.theia-aboutDialog h1 {
    margin: 5px 0 15px;
}

.ves-about-logo {
    background-image: var(--theia-branding-logo);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 128px;
    height: 128px;
}

.ves-about-flex-grid {
    display: flex;
}

.ves-about-flex-grid > .ves-about-flex-grid-column:first-child {
    margin-right: 15px;
}

.ves-about-hr {
    opacity: 0.2;
}

.ves-about-sub-header {
    color: var(--theia-descriptionForeground);
    text-transform: capitalize;
    font-weight: 400;
}

.ves-about-paragraph {
    margin: 15px 0;
}