:root {
  --theia-private-menubar-height: 39px;
}

#theia-top-panel,
#theia-top-panel > div {
  -webkit-app-region: drag;
  user-select: none;
}

#theia-top-panel .theia-icon {
  min-width: 50px;
  z-index: 1;
}

#theia-top-panel .p-MenuBar-content {
  -webkit-app-region: no-drag;
  z-index: 1;
}