#ves-titlebar-window-controls {
  min-width: 140px;
  order: 4;
  text-align: right;
  z-index: 1;
}

#ves-titlebar-window-controls .titlebar-window-controls-button {
  -webkit-app-region: no-drag;
  display: inline-block;
  fill: var(--theia-titleBar-activeForeground);
  font-size: 18px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  width: 46px;
}
#ves-titlebar-window-controls .titlebar-window-controls-button:hover,
#ves-titlebar-window-controls .titlebar-window-controls-button:active {
  background: var(--theia-menubar-selectionBackground);
}
#ves-titlebar-window-controls .titlebar-window-controls-button.close:hover,
#ves-titlebar-window-controls .titlebar-window-controls-button.close:active {
  background: var(--theia-editorError-foreground);
}
