#ves-titlebar-application-title {
  height: var(--theia-private-menubar-height);
  line-height: var(--theia-private-menubar-height);
  position: absolute;
  text-align: center;
  width: 100%;
}

@media (max-width: 1000px) {
  #ves-titlebar-application-title:not(.os-osx) {
    visibility: hidden;
  }
}
