#ves-titlebar-action-buttons {
  -webkit-app-region: no-drag;
  margin-right: 8px;
  min-width: 250px;
  order: 3;
  padding-top: 5px;
  text-align: right;
  white-space: nowrap;
  z-index: 1;
}

#ves-titlebar-action-buttons .theia-button {
  background-color: var(--theia-titleBar-buttonBackground);
  border-radius: 3px;
  font-size: 17px;
  line-height: 27px;
  margin-left: 4px;
  min-width: 40px;
  padding: 1px 0 0;
}

#ves-titlebar-action-buttons .theia-button i {
  line-height: 16px;
  width: 16px;
}

#ves-titlebar-action-buttons .theia-button:enabled:hover {
  background-color: var(--theia-titleBar-hoverButtonBackground);
}

#ves-titlebar-action-buttons .theia-button.build {
  min-width: 64px;
}
/* #ves-titlebar-action-buttons .theia-button.build.success {
  background-color: var(--theia-editorSuccess-foreground);
} */
#ves-titlebar-action-buttons .theia-button.build.warning {
  background-color: var(--theia-editorWarning-foreground);
}
#ves-titlebar-action-buttons .theia-button.build.error {
  background-color: var(--theia-editorError-foreground);
}

#ves-titlebar-action-buttons .theia-button.queued {
  animation-name: pulseQueued;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes pulseQueued {
  0% {
    background-color: var(--theia-titleBar-buttonBackground);
  }
  50% {
    background-color: var(--theia-titleBar-hoverButtonBackground);
  }
  100% {
    background-color: var(--theia-titleBar-buttonBackground);
  }
}