#ves-titlebar-application-title {
  flex-grow: 1;
  height: var(--theia-private-menubar-height);
  line-height: var(--theia-private-menubar-height);
  order: 2;
  padding: 0 10px;
  text-align: center;
  white-space: nowrap;
}

#ves-titlebar-application-title .applicationTitle {
  cursor: pointer;
  display: inline-block;
}

@media (max-width: 1000px) {
  #theia-top-panel:not(.os-osx) #ves-titlebar-application-title {
    visibility: hidden;
  }
}
