.brightnessRepeatEditor .editor {
  display: flex;
  flex-direction: column;
  gap: 10px;
  user-select: none;
}

.brightnessRepeatEditor .editor>div {
  display: flex;
  gap: 1px;
  overflow-x: auto;
}

.brightnessRepeatEditor .editor>div>div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1px;
  min-width: 20px;
}

.brightnessRepeatEditor .editor .bar {
  border: var(--theia-border-width) solid var(--theia-dropdown-border);
  box-sizing: border-box;
  cursor: pointer;
  height: 200px;
  position: relative;
  width: 100%;
}

.brightnessRepeatEditor .editor .bar:hover {
  border-color: var(--theia-focusBorder)
}

.brightnessRepeatEditor .editor .bar:after {
  background-color: var(--theia-button-secondaryBackground);
  content: '';
  inset: 0;
  position: absolute;
}

.brightnessRepeatEditor .editor .bar.brightness-15:after {
  top: 0%;
}

.brightnessRepeatEditor .editor .bar.brightness-14:after {
  top: 6.6666%;
}

.brightnessRepeatEditor .editor .bar.brightness-13:after {
  top: 13.3333%;
}

.brightnessRepeatEditor .editor .bar.brightness-12:after {
  top: 20%;
}

.brightnessRepeatEditor .editor .bar.brightness-11:after {
  top: 26.6666%;
}

.brightnessRepeatEditor .editor .bar.brightness-10:after {
  top: 33.3333%;
}

.brightnessRepeatEditor .editor .bar.brightness-9:after {
  top: 40%;
}

.brightnessRepeatEditor .editor .bar.brightness-8:after {
  top: 46.6666%;
}

.brightnessRepeatEditor .editor .bar.brightness-7:after {
  top: 53.3333%;
}

.brightnessRepeatEditor .editor .bar.brightness-6:after {
  top: 60%;
}

.brightnessRepeatEditor .editor .bar.brightness-5:after {
  top: 66.6666%;
}

.brightnessRepeatEditor .editor .bar.brightness-4:after {
  top: 73.3333%;
}

.brightnessRepeatEditor .editor .bar.brightness-3:after {
  top: 80%;
}

.brightnessRepeatEditor .editor .bar.brightness-2:after {
  top: 86.6666%;
}

.brightnessRepeatEditor .editor .bar.brightness-1:after {
  top: 93.3333%;
}

.brightnessRepeatEditor .editor .bar.brightness-0:after {
  top: 100%;
}

.brightnessRepeatEditor .editor .theia-input {
  font-size: 12px;
  padding: 0;
  text-align: center;
}

.brightnessRepeatEditor .editor input[type=number]::-webkit-inner-spin-button,
.brightnessRepeatEditor .editor input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.brightnessRepeatEditor .editor .index {
  align-items: center;
  color: var(--theia-input-background);
  display: flex;
  font-size: 8px;
  justify-content: center;
  line-height: 14px;
}