.brightnessRepeatEditor .editor {
  display: flex;
  flex-direction: column;
  gap: 10px;
  user-select: none;
}

.brightnessRepeatEditor .editor>div {
  display: flex;
  gap: 2px;
  overflow-x: auto;
  padding-bottom: var(--theia-ui-padding);
}
