.brightnessRepeatEditor .preview {
  background-color: #000;
  background-image: url('../../images/vuengine-platformer-demo.png');
  background-position-y: center;
  background-size: cover;
  display: flex;
  height: 150px;
  width: 384px;
}

.brightnessRepeatEditor .preview>div {
  background-color: #000;
  width: calc(100% / 96);
}