.rumbleEffectEditor .actions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.rumbleEffectEditor .actions>div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.rumbleEffectEditor .buttons {
  display: flex;
  gap: 4px;
}

.rumbleEffectEditor button {
  margin: 0;
}