.rumbleEffectEditor {
  display: flex;
  gap: 20px;
  height: 100%;
  outline: none;
}

.rumbleEffectEditor>div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
}

.rumbleEffectEditor .settings {
  display: flex;
  gap: 4px;
}

.rumbleEffectEditor .settings .setting {
  flex-grow: 1;
}

.rumbleEffectEditor .setting {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.rumbleEffectEditor .connected {
  color: var(--theia-editorSuccess-foreground);
}

.rumbleEffectEditor .disconnected {
  color: var(--theia-editorError-foreground);
}