.rumbleEffectEditor {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  outline: none;
  overflow: hidden;
}

.rumbleEffectEditor .connectionStatus {
  padding-top: 20px;
}

.rumbleEffectEditor .connected {
  color: var(--theia-editorSuccess-foreground);
}

.rumbleEffectEditor .disconnected {
  color: var(--theia-editorError-foreground);
}