.rumbleEffectEditor {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  outline: none;
  overflow: hidden;
}

.rumbleEffectEditor .settings {
  display: flex;
  gap: 4px;
}

.rumbleEffectEditor .settings .setting {
  flex-grow: 1;
}

.rumbleEffectEditor .setting {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.rumbleEffectEditor .connectionStatus {
  padding-top: 20px;
}

.rumbleEffectEditor .connected {
  color: var(--theia-editorSuccess-foreground);
}

.rumbleEffectEditor .disconnected {
  color: var(--theia-editorError-foreground);
}