.rumbleEffectEditor .log {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.rumbleEffectEditor .rumblePakLog {
  border: 1px solid var(--theia-activityBar-background);
  box-sizing: border-box;
  flex-grow: 1;
  font-family: monospace;
  font-size: 90%;
  line-height: 130%;
  overflow: auto;
}

.rumbleEffectEditor .rumblePakLog>div {
  display: table;
  padding: var(--theia-ui-padding) 0;
  width: 100%;
}

.rumbleEffectEditor .rumblePakLogLine {
  display: table-row;
}

.rumbleEffectEditor .rumblePakLogLine:empty {
  height: 5px;
}

.rumbleEffectEditor .rumblePakLogLine:hover {
  background: rgba(0, 0, 0, 0.2);
}

.rumbleEffectEditor .rumblePakLogLine>span:first-child {
  display: table-cell;
  opacity: .5;
  padding: 0 var(--theia-ui-padding);
}

.rumbleEffectEditor .rumblePakLogLine>span:last-child {
  display: table-cell;
  padding-right: var(--theia-ui-padding);
  white-space: pre-wrap;
  width: 100%;
}