{%- macro sectionHeader(title) -%}
//=========================================================================================================
// {{ title | upper }}
//=========================================================================================================
{%- endmacro -%}

{%- macro append(array, value, condition=true) -%}
    {%- if (condition) -%}
        {%- set array = (array.push(value), array) -%}
    {%- endif -%}
{%- endmacro -%}
