{%- macro sectionHeader(title) -%}
//---------------------------------------------------------------------------------------------------------
//{{ title | center(105) | upper }}
//---------------------------------------------------------------------------------------------------------
{%- endmacro -%}