{%- import 'templates/partials/macros.njk' as macros -%}
{%- include('templates/partials/fileHeader/fileHeader.c.njk') -%}

{%- set sanitizedSpecName = itemUri | basename(false) | sanitizeSpecName -%}
{%- set section = sprite.section -%}
{%- set compression = sprite.compression -%}

{%- set frameCount = item.animations.totalFrames -%}
{%- set isAnimation = item.components.animations | length > 0 -%}
{%- set mostSpritesOnAFile = 0 -%}
{% for sprite in item.components.sprites -%}
	{%- if sprite.texture.files | length > mostSpritesOnAFile -%}
		{%- set mostSpritesOnAFile = sprite.texture.files | length -%}
	{%- endif -%}
{%- endfor -%}
{%- set isMultifileAnimation = mostSpritesOnAFile > 1 -%}

{%- set isSpritesheetAnimation = false -%}
{%- if isAnimation and not isMultifileAnimation and frameCount > 0 -%}
	{%- set isSpritesheetAnimation = true -%}
{%- endif -%}

{%- if item.components.sprites | length %}
	{% for sprite in item.components.sprites -%}
		{%- if not sprite._imageData | int and sprite._imageData.images | length -%}
			{%- for imageData in sprite._imageData.images -%}
				{%- set tilesName = sanitizedSpecName ~ 'Actor' ~ imageData.tiles.name -%}
				{%- set customMapPrefix = sanitizedSpecName ~ 'Actor' -%}
				{#- for some reason, the uncompressJson filter in below partials wouldn't work if we don't call it here once -#}
				{%- set __whatTheHeck__ = imageData.tiles.data | uncompressJson -%}
				{%- include('templates/partials/image/tiles.c.njk') -%}
				{%- include('templates/partials/image/maps.c.njk') -%}
				{%- include('templates/partials/image/frameOffsets.c.njk') -%}
			{%- endfor -%}
		{%- endif -%}
	{%- endfor -%}
{%- endif -%}