{%- import 'templates/partials/macros.njk' as macros -%}
{%- set itemNames = [] -%}
{%- if project.items.Font is defined -%}
{%- for item in project.items.Font | values | unique('_fileUri') -%}
	{%- set itemSanitizedSpecName = item._fileUri | basename(false) | sanitizeSpecName -%}
	{%- if item._contributor != "engine" -%}
		{%- set itemNames = (itemNames.push(itemSanitizedSpecName), itemNames) -%}
	{%- endif -%}
{%- endfor -%}
{%- endif -%}
{% include('templates/partials/fileHeader/fileHeader.h.njk') %}

#ifndef FONTS_H_
#define FONTS_H_

{{ macros.sectionHeader('Includes') }}

#include <Printer.h>
#include <CharSet.h>

{{ macros.sectionHeader('Declarations') }}

extern FontSpec DefaultFontSpec;
extern FontSpec ProfilerFontSpec;
extern FontSpec DebugFontSpec;
{% if itemNames %}
{%- for itemName in itemNames | sort -%}
extern FontSpec {{ itemName }}FontSpec;
{% endfor -%}
{% endif %}
#endif