{%- import 'templates/partials/macros.njk' as macros -%}
{%- set installedPlugins = project.items.GameConfig.project.plugins -%}
{%- set allPlugins = project.plugins -%}
{% include('templates/partials/fileHeader/fileHeader.h.njk') %}

#ifndef PLUGINS_CONFIG_H_
#define PLUGINS_CONFIG_H_

{{ macros.sectionHeader('Configuration Macros') }}
{% if installedPlugins is defined and allPlugins is defined -%}
	{%- for installedPluginId in installedPlugins | keys | sort -%}
		{%- if allPlugins[installedPluginId] is defined 
			and allPlugins[installedPluginId].configuration is defined
			and allPlugins[installedPluginId].configuration | length -%}
			{{- '\n' -}}
			{%- for configuration in allPlugins[installedPluginId].configuration -%}
                {%- set configValue = configuration.default -%}
                {%- if installedPlugins[installedPluginId][configuration.name] is defined -%}
                    {%- set configValue = installedPlugins[installedPluginId][configuration.name] -%}
                {%- endif -%}

                {%- if configuration.dataType == 'string' or configuration.dataType == 'type' -%}
                    {%- set configValue = '"' ~ configValue ~ '"' -%}
                {%- else -%}
                    {%- set configValue = '(' ~ configValue ~ ')' -%}
                {%- endif -%}

				#define __PLUGIN_{{ installedPluginId | basename | toUpperSnakeCase }}_{{ configuration.name | toUpperSnakeCase }} {{ configValue | safe }}
				{{- '\n' -}}

			{%- endfor -%}
		{%- endif -%}
	{%- endfor -%}
{%- endif %}

#endif
