{%- import 'templates/partials/macros.njk' as macros -%}
{%- set pluginMacroId = item._folder | basename | toUpperSnakeCase -%}
{% include('templates/partials/fileHeader/fileHeader.h.njk') %}

#ifndef __PLUGIN_{{ pluginMacroId }}_CONFIG_H_
#define __PLUGIN_{{ pluginMacroId }}_CONFIG_H_

{{ macros.sectionHeader('Configuration Macros') }}

{% for configuration in item.configuration -%}
	{%- set configValue = configuration.default -%}
	{%- if installedPlugins[installedPluginId][configuration.name] is defined -%}
		{%- set configValue = installedPlugins[installedPluginId][configuration.name] -%}
	{%- endif -%}

	{%- if configuration.dataType == 'string' or configuration.dataType == 'type' -%}
		{%- set configValue = '"' ~ configValue ~ '"' -%}
	{%- else -%}
		{%- set configValue = '(' ~ configValue ~ ')' -%}
	{%- endif -%}

#ifndef __PLUGIN_{{ pluginMacroId }}_{{ configuration.name | toUpperSnakeCase }}
#define __PLUGIN_{{ pluginMacroId }}_{{ configuration.name | toUpperSnakeCase }} {{ configValue | safe }}
#endif
{{- '\n\n' -}}

{%- endfor %}
#endif
