{%- set sanitizedSpecName = itemUri | basename(false) | sanitizeSpecName -%}

{%- import 'templates/partials/macros.njk' as macros -%}
{% include('templates/partials/fileHeader/fileHeader.c.njk') %}

{{ macros.sectionHeader('Includes') }}

#include <RumbleManager.h>

{{ macros.sectionHeader('Definitions') }}

RumbleEffectROMSpec {{ sanitizedSpecName }}RumbleEffectSpec =
{
	// Effect #
	{% if item.effect >= 1 and item.effect <= 123 -%}
		{{ item.effect }}
	{%- else -%}
		1
	{%- endif %},
	// Frequency
	{% if item.frequency == 50 -%}
		__RUMBLE_FREQ_50HZ,
	{% elseif item.frequency == 95 -%}
		__RUMBLE_FREQ_95HZ,
	{% elseif item.frequency == 130 -%}
		__RUMBLE_FREQ_130HZ,
	{% elseif item.frequency == 240 -%}
		__RUMBLE_FREQ_240HZ,
	{%- elseif item.frequency == 320 -%}
		__RUMBLE_FREQ_320HZ,
	{%- elseif item.frequency == 400 -%}
		__RUMBLE_FREQ_400HZ,
	{%- else -%}
		__RUMBLE_FREQ_160HZ,
	{%- endif %}
	// Positive Sustain
	{% if item.sustainPositive >= 0 and item.sustainPositive <= 255 -%}
		{{ item.sustainPositive }}
	{%- else -%}
		255
	{%- endif %},
	// Negative Sustain
	{% if item.sustainNegative >= 0 and item.sustainNegative <= 255 -%}
		{{ item.sustainNegative }}
	{%- else -%}
		255
	{%- endif %},
	// Overdrive
	{% if item.overdrive >= 0 and item.overdrive <= 126 -%}
		{{ item.overdrive }}
	{%- else -%}
		126
	{%- endif %},
	// Break
	{% if item.break >= 0 and item.break <= 255 -%}
		{{ item.break }}
	{%- else -%}
		255
	{%- endif %},
	// Stop before starting
	{% if item.stopBeforeStarting %}true{% else %}false{% endif %},
};
