.pcmEditor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  height: 100%;
  outline: none;
}

.pcmEditor .settings {
  display: flex;
  gap: var(--theia-ui-padding);
}

.pcmEditor .settings .setting {
  flex-grow: 1;
}

.pcmEditor .setting {
  display: flex;
  flex-direction: column;
  gap: var(--theia-ui-padding);
}

.pcmEditor .sourceFile {
  display: flex;
  gap: var(--theia-ui-padding);
  justify-content: space-between;
}

.pcmEditor .sourceFile label {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--theia-ui-padding);
}

.pcmEditor .sourceFile > div {
  align-items: end;
  display: flex;
}

.pcmEditor .sourceFile button {
  height: calc(2 * var(--theia-border-width) + var(--theia-content-line-height) + 2px);
  margin-left: 0;
  min-width: 64px;
  width: 64px;
}
