.musicEditor .channelHeader {
    background-color: #555;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    gap: 3px;
    margin-right: 2px;
    min-width: 65px;
    padding: 3px 5px;
    width: 65px;
}

.musicEditor .channelButtons {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.musicEditor .channelButton {
    align-items: center;
    border: 1px solid #333;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-left: -1px;
    width: 33.33333%;
}

.musicEditor .channelButton.active {
    border-color: #d31422;
    z-index: 1;
}