.musicEditor .noteProperties {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-right: 10px;
}

.musicEditor .notePropertiesHeader {
    color: #555;
    display: flex;
    flex-direction: column;
    margin-right: 2px;
    min-width: 75px;
    width: 75px;
}

.musicEditor .notePropertiesHeader div {
    align-items: center;
    display: flex;
}