.musicEditor .pattern {
    align-items: end;
    background-color: #333;
    box-sizing: border-box;
    color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: end;
    margin-right: 1px;
    overflow: hidden;
    padding: 3px 5px;
    position: relative;
}

.musicEditor .channel.current .pattern,
.musicEditor .channel:hover .pattern {
    color: unset;
}

.musicEditor .pattern:hover {
    outline: 1px solid #d31422;
}

.musicEditor .pattern.current {
    background-color: #555;
}

.musicEditor .pattern .notes {
    left: 0;
    position: absolute;
    top: 0;
}

.musicEditor .pattern .remove {
    cursor: pointer;
    display: none;
    font-size: 13px;
    position: absolute;
    right: 4px;
    top: 1px;
}

.musicEditor .pattern .remove:hover {
    color: #d31422;
}

.musicEditor .pattern:hover .remove {
    display: block;
}