.musicEditor .pianoRollKey {
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-right: 2px solid #999;
    color: #666;
    cursor: pointer;
    display: flex;
    margin-right: 3px;
    min-width: 58px;
    padding-left: 5px;
    width: 58px;
}

.musicEditor .pianoRollKey:hover {
    background: var(--theia-button-background) !important;
    color: var(--theia-button-foreground)
}

.musicEditor .pianoRollKey.sharpNote {
    background: linear-gradient(90deg, #000 50%, #666 100%);
    color: #ccc;
    position: relative;
}

.musicEditor .pianoRollKey.sharpNote:after {
    background-color: #fff;
    border-left: 2px solid #666;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    width: 10px;
}

.musicEditor .pianoRollRow.cNote .pianoRollKey {
    border-width: 2;
}