.musicEditor .pianoRollNote {
    background-color: #333;
    cursor: crosshair;
    margin-bottom: 1px;
    margin-right: 1px;
    min-height: 8px;
    min-width: 8px;
    flex-grow: 1;
}

.musicEditor .pianoRollRow:hover .pianoRollNote {
    background-color: #444;
}

.musicEditor .pianoRollNote.current {
    background-color: #444;
}

.musicEditor .pianoRollRow.cNote .pianoRollNote {
    margin-bottom: 2px;
}

.musicEditor .pianoRollNote:hover {
    outline: 1px solid #d31422;
}

.musicEditor .pianoRollNote.set {
    background-color: #d31422 !important;
}

.musicEditor .pianoRollNote.nth {
    margin-right: 2px;
}