.musicEditor .pianoRollHeader {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-right: 12px;
}

.musicEditor .pianoRollHeaderTitle {
    align-items: center;
    background-color: #555;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: center;
    margin-right: 3px;
    min-width: 65px;
    padding-left: 3px;
    width: 65px;
}