.musicEditor .sidebar {
    overflow-x: hidden;
    overflow-y: auto;
    width: 220px;
}

.musicEditor .sidebar.collapsed {
    display: none;
}

.musicEditor .sidebarToggle {
    background-color: var(--theia-sideBar-background);
    cursor: e-resize;
    width: var(--theia-sash-width);
}

.musicEditor .sidebarToggle:hover {
    background-color: var(--theia-sash-hoverBorder);
    transition-delay: var(--theia-sash-hoverDelay);
}

.musicEditor .sidebarToggle.collapsed {
    cursor: w-resize;
    width: 10px;
}

.musicEditor .sidebar .section {
    border-top: 3px solid var(--theia-sideBar-background);
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    gap: 15px;
}

.musicEditor .sidebar .section.first {
    border-top: none;
}

.musicEditor .sidebarTabs {
    background: var(--theia-editorGroupHeader-tabsBackground);
    display: flex;
    font-size: 14px;
}

.musicEditor .sidebarTab {
    align-items: center;
    color: #666;
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    font-size: 14px;
    justify-content: center;
    height: 24px;
}

.musicEditor .sidebarTab.active {
    background: var(--theia-editor-background);
    color: var(--theia-editor-foreground);
}

.musicEditor .sidebarTab:hover {
    color: var(--theia-editor-foreground);
}