.musicEditor .toolbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 10px;
}

.musicEditor .toolbar button {
    height: 32px;
    margin-left: 0px;
    min-width: unset;
    padding: 0;
    width: 32px;
}

.musicEditor .toolbar .playButton {
    width: 65px;
}

.musicEditor .toolbar .recordButton {
    margin-right: 10px;
}