.jsonforms-container button {
  margin-left: 0;
  min-height: calc(2 * var(--theia-border-width) + var(--theia-content-line-height) + 2px);
  min-width: 32px;
}

.jsonforms-container .add-button {
  background-color: transparent;
  border: var(--theia-border-width) solid var(--theia-dropdown-border);
  color: var(--theia-dropdown-border);
  margin-bottom: 5px;
}
.jsonforms-container .add-button:hover {
  color: var(--theia-button-foreground);
  border-color: var(--theia-button-hoverBackground);
}
.jsonforms-container .add-button.large {
  height: 48px;
}