.jsonforms-container button {
  margin-left: 0;
  min-height: calc(2 * var(--theia-border-width) + var(--theia-content-line-height) + 2px);
  min-width: 32px;
  padding-bottom: 0;
  padding-top: 0;
}

.jsonforms-container .add-button {
  background-color: transparent;
  border: var(--theia-border-width) solid var(--theia-dropdown-border);
  color: var(--theia-dropdown-border);
}
.jsonforms-container .add-button:focus,
.jsonforms-container .add-button:hover {
  background-color: var(--theia-button-hoverBackground);
  color: #fff;
  border-color: var(--theia-button-hoverBackground);
}
.jsonforms-container .add-button.large {
  height: 48px;
}