.colorSelector {
  --ves-color-selector-size: calc(var(--theia-content-line-height) + 2 * var(--theia-border-width) + 2px);
}

.colorSelector {
  display: flex;
  flex-direction: row;
  gap: 4px;
  outline: 0;
}

.colorSelector div {
  border-radius: 2px;
  cursor: pointer;
  flex-grow: 1;
  height: var(--ves-color-selector-size);
  max-width: var(--ves-color-selector-size);
  min-width: var(--ves-color-selector-size);
  outline-offset: 1px;
}

.colorSelector div.selected {
  outline: 1px solid var(--theia-button-background);
}
/* .colorSelector:hover div.selected {
  outline-style: dotted;
} */
.colorSelector:hover div:hover {
  outline: 1px solid var(--theia-button-background);
}

.colorSelector .color-0 {
  background: repeating-conic-gradient(rgba(0,0,0,.3) 0% 25%, transparent 0% 50%) 50% / 13px 13px;
  background-color: var(--theia-editor-background);
}
.colorSelector .color-1 {
  background-color: #000;
}
.colorSelector .color-2 {
  background-color: #500;
}
.colorSelector .color-3 {
  background-color: #a00;
}
.colorSelector .color-4 {
  background-color: #f00;
}
