/* JSON Form Overrides */

.theia-tree-editor .control>label {
  font-size: unset;
  font-weight: normal;
}

.control>.input-description,
.control>.validation {
  margin-top: 0;
  min-height: unset;
}

.theia-tree-editor .control {
  gap: 3px;
  margin: 0;
}

.group-layout {
  border-style: none;
  margin: 0;
  padding: 0;
}

.group-layout>legend {
  padding: 0;
  font-weight: normal;
  margin-bottom: 3px;
}

.control>* {
  margin: 0;
}

.horizontal-layout {
  gap: var(--theia-ui-padding);
}

.theia-tree-editor-tree .tree-icon-container .fa {
  margin: 0 auto;
}

.theia-tree-editor .control>.input-description {
  /* font-size: 80%; */
  opacity: .5;
}

.theia-tree-editor .control>.input-description:empty {
  display: none;
}

.horizontal-layout,
.vertical-layout {
  gap: 15px;
}

.array-table-layout table,
.array-table-layout th,
.array-table-layout td {
  border: none;
}

.array-table-layout td {
  justify-content: center;
}

/* Custom */

.theia-tree-editor>.p-Widget {
  visibility: hidden;
}

.theia-tree-editor.loaded>.p-Widget {
  visibility: visible;
}

.theia-tree-editor-form {
  display: flex;
  padding: calc(var(--theia-ui-padding) * 2);
}

.theia-tree-editor-form>.jsonforms-container {
  flex-grow: 1;
}

.theia-tree-editor.form-only>.p-SplitPanel>.theia-Tree,
.theia-tree-editor.form-only>.p-SplitPanel>.p-SplitPanel-handle {
  display: none;
}

.theia-tree-editor.form-only>.p-SplitPanel>.theia-tree-editor-form {
  left: 0 !important;
  width: 100% !important;
}