/* JSON Form Overrides */

.theia-tree-editor .control>label {
  font-size: unset;
  font-weight: normal;
}

.control>.input-description,
.control>.validation {
  min-height: unset;
}

.theia-tree-editor .control {
  margin: 0 0 1em;
}

.group-layout {
  border-style: none;
  margin: 0;
  padding: 0;
}

.group-layout>legend {
  padding: 0;
  font-weight: normal;
  margin-top: 0.5em;
}

.control>* {
  margin: 0;
}

.control>.input-description,
.control>.validation {
  margin-bottom: 4px !important;
}

.horizontal-layout {
  gap: var(--theia-ui-padding);
}

.theia-tree-editor-tree .tree-icon-container .fa {
  margin: 0 auto;
}

.theia-tree-editor .control>.input-description {
  /* font-size: 80%; */
  opacity: .5;
}

/* Custom */

.theia-tree-editor {
  padding: calc(var(--theia-ui-padding) * 2);
}

.theia-tree-editor>.p-Widget {
  visibility: hidden;
}

.theia-tree-editor.loaded>.p-Widget {
  visibility: visible;
}

.theia-tree-editor-form {
  /* border-left: 1px solid var(--theia-input-background); */
  padding: 0 calc(var(--theia-ui-padding) * 2);
}

.theia-tree-editor-form {
  display: flex;
}

.theia-tree-editor-form>.jsonforms-container {
  flex-grow: 1;
}

.control>.input-description,
.control>.validation {
  margin-bottom: 0.25em;
}

.theia-tree-editor.form-only>.p-SplitPanel>.theia-Tree,
.theia-tree-editor.form-only>.p-SplitPanel>.p-SplitPanel-handle {
  display: none;
}

.theia-tree-editor.form-only>.p-SplitPanel>.theia-tree-editor-form {
  left: 0 !important;
  width: 100% !important;
}