@import "brightness-repeat-editor/index.css";
@import "button.css";
@import "color-selector.css";
@import "column-table-editor/index.css";
@import "controls/index.css";
@import "actor-editor/index.css";
@import "font-editor/index.css";
@import "image-conv-editor/index.css";
@import "plugin-file-editor/index.css";
@import "input.css";
@import "input-renderer.css";
@import "jsonforms/index.css";
@import "palette-renderer.css";
@import "radio-select.css";
@import "react-select.css";
@import "react-tabs.css";
@import "rumble-effect-editor/index.css";
@import "sprite-editor/index.css";
@import "translations-editor/index.css";
@import "ves-tree.css";

.theia-ApplicationShell {
    position: fixed;
}

.theia-ApplicationShell.hide-text-editor-status-bar-items #status-bar-editor-language-status-items,
.theia-ApplicationShell.hide-text-editor-status-bar-items #status-bar-editor-status-cursor-position,
.theia-ApplicationShell.hide-text-editor-status-bar-items #status-bar-editor-status-encoding,
.theia-ApplicationShell.hide-text-editor-status-bar-items #status-bar-editor-status-eol,
.theia-ApplicationShell.hide-text-editor-status-bar-items #status-bar-editor-status-language,
.theia-ApplicationShell.hide-text-editor-status-bar-items #status-bar-editor-status-tabbing-config {
    display: none;
}
