.jsonforms-container .control.intro-renderer {
  flex-direction: row;
  gap: 8px;
  margin-bottom: 20px;
}

.jsonforms-container .control.intro-renderer .fa {
  order: -1;
}

.jsonforms-container .control.intro-renderer .fa::before {
  vertical-align: middle;
}