body>.dragging-layer {
  --default-background-color: unset !important;
}

.jsonforms-container .dock {
  gap: calc(var(--theia-ui-padding) * 2);
}

.jsonforms-container .dock-divider {
  background: var(--theia-sideBar-background);
  flex: 0 0 var(--theia-sash-width);
}

.jsonforms-container .dock-divider:active,
.jsonforms-container .dock-divider:hover {
  background-color: var(--theia-sash-hoverBorder);
  transition-delay: var(--theia-sash-hoverDelay);
}

.jsonforms-container .dock-panel {
  background: var(--theia-editor-background);
  border: unset;
  color: unset;
}

.jsonforms-container .dock-hbox>.dock-divider {
  margin: 0 calc(var(--theia-ui-padding) * 2);
  transform: unset;
}

.jsonforms-container .dock-vbox>.dock-divider {
  margin: calc(var(--theia-ui-padding) * 2) 0;
  transform: unset;
}

.jsonforms-container .dock-bar {
  font-size: unset;
  line-height: 2;
}

.jsonforms-container .dock-top .dock-bar {
  background: unset;
  border-bottom: unset;
  padding-left: unset
}

.jsonforms-container .dock-nav-list {
  gap: calc(var(--theia-ui-padding) * 2);
}

.jsonforms-container .dock-tab {
  background: unset;
  border-bottom-color: transparent;
  color: var(--theia-tab-inactiveForeground);
  height: unset;
  margin-right: unset;
  min-width: unset;
}

.jsonforms-container .dock-tab:hover,
.jsonforms-container .dock-tab-active,
.jsonforms-container .dock-tab-active:hover {
  color: var(--theia-editor-foreground);
}

.jsonforms-container .dock-tab>div {
  font-weight: unset;
  outline-color: unset;
  outline-width: 0;
  padding: 0;
}

.jsonforms-container .dock-ink-bar {
  background: var(--theia-editor-foreground);
}

.jsonforms-container .dock-panel-max-btn:before {
  border: 1px solid var(--theia-tab-inactiveForeground);
}

.jsonforms-container .dock-mbox>.dock-panel {
  box-shadow: unset;
}

.jsonforms-container .dock-layout>.dock-drop-indicator {
  border: unset;
  background: var(--theia-editorGroup-dropBackground);
  box-shadow: unset;
}

.jsonforms-container .dock-extra-content {
  visibility: hidden;
}

.jsonforms-container .dock-bar:hover .dock-extra-content {
  visibility: visible;
}

.jsonforms-container .dock-content .dock-tabpane {
  overflow: auto;
}

.jsonforms-container .dock-drop-layer .dock-drop-square {
  color: var(--theia-editor-background);
  background: var(--theia-editor-foreground);
  border: unset;
}

.jsonforms-container .dock-drop-layer .dock-drop-square .dock-drop-square-box {
  border-color: var(--theia-editor-background);
}

.jsonforms-container .dock-drop-layer .dock-drop-square:hover .dock-drop-square-box,
.jsonforms-container .dock-drop-layer .dock-drop-square:hover .dock-drop-square-box:before {
  background: var(--theia-focusBorder);
}

.jsonforms-container .dock-drop-layer .dock-drop-bottom,
.jsonforms-container .dock-drop-layer .dock-drop-left,
.jsonforms-container .dock-drop-layer .dock-drop-middle,
.jsonforms-container .dock-drop-layer .dock-drop-right,
.jsonforms-container .dock-drop-layer .dock-drop-top {
  opacity: .3;
}

.jsonforms-container .dock-drop-layer .dock-drop-bottom:hover,
.jsonforms-container .dock-drop-layer .dock-drop-left:hover,
.jsonforms-container .dock-drop-layer .dock-drop-middle:hover,
.jsonforms-container .dock-drop-layer .dock-drop-right:hover,
.jsonforms-container .dock-drop-layer .dock-drop-top:hover {
  opacity: 1;
}