.react-tabs {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.react-tabs__tab-list {
    margin: 0 0 20px;
    padding: 0;
}

.react-tabs__tab {
    border-bottom: 2px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    line-height: 30px;
    list-style: none;
    margin-right: 15px;
    user-select: none;
}

.react-tabs__tab:last-child {
    margin-right: 0;
}

.react-tabs__tab:focus {
    border-color: var(--theia-button-background);
    outline: none;
}

.react-tabs__tab--selected {
    border-color: var(--theia-editor-foreground);
}

.react-tabs__tab .count {
    border-radius: 15px;
    border: 1px solid;
    display: inline-block;
    font-size: 75%;
    line-height: 100%;
    min-width: 7px;
    opacity: .4;
    padding: 1px 2px;
    text-align: center;
    vertical-align: text-bottom;
}

.react-tabs__tab-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    position: relative;
}
.react-tabs__tab-panel:empty {
    flex-grow: unset;
}


.react-tabs.sub .react-tabs__tab-list {
    margin: 0;
}

.react-tabs.sub .react-tabs__tab {
    border: 1px solid var(--theia-activityBar-background);
    border-radius: 2px;
    font-weight: normal;
    line-height: 24px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0 8px;
}

.react-tabs.sub .react-tabs__tab:empty {
    display: none;
}

.react-tabs.sub .react-tabs__tab--selected {
    background-color: var(--theia-activityBar-background);
    border-color: var(--theia-activityBar-background);
}

/* Vertical */

.vertical .react-tabs__tab
{
    border-bottom: none;
    border-radius: 2px;
    margin-right: 0;
    padding: 0 var(--theia-ui-padding);
}

.vertical .react-tabs__tab--selected
{
    background: var(--theia-list-activeSelectionBackground);
    color: var(--theia-list-activeSelectionForeground) !important;
}

.vertical .react-tabs__tab:focus
{
    outline: var(--theia-focusBorder) solid 1px;
    outline-offset: -1px;
}