.ves-tree [role=tree],
.ves-tree [role=tree] > div {
    height: auto !important;
    outline: none;
}

.ves-tree [role=treeitem] {
    box-sizing: border-box;
    display: flex;
    line-height: var(--theia-content-line-height);
    padding: 0 var(--padding);
}

.ves-tree > [role=treeitem],
.ves-tree [role=treeitem][aria-level="1"] {
    font-size: var(--theia-ui-font-size2);
}

.ves-tree [role=treeitem][aria-selected=true] {
    background: var(--theia-list-inactiveSelectionBackground);
    color: var(--theia-list-inactiveSelectionForeground);
}

.ves-tree [role=treeitem]:focus::after,
.ves-tree [role=treeitem]:hover {
    background: var(--theia-list-hoverBackground);
    color: var(--theia-list-hoverForeground);
    cursor: pointer;
}

.ves-tree [role=treeitem][aria-selected=true]:focus {
    background: var(--theia-list-activeSelectionBackground);
    color: var(--theia-list-activeSelectionForeground) !important;
    outline: var(--theia-focusBorder) solid 1px;
    outline-offset: -1px;
}

.ves-tree .fa {
    text-align: center;
    width: 16px;
}

.ves-tree-node {
    align-items: center;
    display: flex;
    flex-grow: 1;
    gap: 2px;
    overflow: hidden;
    user-select: none;
}

.ves-tree-node.dragging {
    opacity: .3;
}

.ves-tree-node.empty {
    opacity: .3;
}

.ves-tree-node.empty:focus,
.ves-tree-node.empty:hover {
    opacity: 1;
}

.ves-tree-node-icon {
    align-items: center;
    display: flex;
}

.ves-tree-node-name {
    flex-grow: 1;
    overflow: hidden;
    padding-left: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ves-tree-node-name input {
    background-color: transparent;
    border: 1px solid red;
    border-radius: 2px;
    box-sizing: border-box;
    color: var(--theia-foreground-color);
    translate: -3px;
    width: 100%;
}

.ves-tree-node-actions {
    display: flex;
    visibility: hidden;
}

.ves-tree-node:hover .ves-tree-node-actions {
    visibility: visible;
}

.ves-tree-node-actions i {
    font-size: 100% !important;
    border-radius: 2px;
    padding: 3px;
}

.ves-tree-node-actions i:hover {
    background-color: rgba(0,0,0,.3);
}