#vesEmulatorWidget {
  container: emulator / inline-size;
  display: flex;
  flex-direction: column;
  outline: none;
}

.emulator-controls {
  min-width: 384px;
  padding: calc(var(--theia-ui-padding) * 2) 0;
  text-align: center;
}

.emulator-controls>div {
  display: inline-block;
  margin: var(--theia-ui-padding);
}

.emulator-controls button.theia-button {
  height: 26px;
  margin: 0 2px;
  min-width: 32px;
  vertical-align: middle;
}

.emulator-controls select.theia-select {
  margin: 0 2px;
  vertical-align: middle;
}

.emulator-header {
  display: flex;
  gap: var(--theia-ui-padding);
  justify-content: center;
  min-width: 384px;
  opacity: .5;
  padding-bottom: calc(var(--theia-ui-padding) * 2);
  white-space: nowrap;
}

@container emulator (max-width: 560px) {
  .emulator-header {
    display: none;
  }
}

.emulator-header>div {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.emulator-header>div:last-child {
  padding-left: 32px;
}

.emulator-header span {
  background: #000;
  border-radius: 3px;
  color: #fff;
  padding: 2px 4px;
}

.emulator-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  min-height: 224px;
  min-width: 384px;
  overflow: hidden;
}

iframe.emulator-iframe {
  background: rgba(0,0,0,.3);
  border: none;
  border-radius: 2px;
  overflow: hidden;
  z-index: -1;
  /* prevent focus on iframe to intercept key presses */
}

#vesEmulatorWidget .controlsOverlay {
  align-items: flex-start;
  background-color: var(--theia-editor-background);
  bottom: 0;
  display: flex;
  left: 0;
  overflow: auto;
  padding: calc(var(--theia-ui-padding) * 4) calc(var(--theia-ui-padding) * 2);
  position: absolute;
  right: 0;
  top: 50px;
}

#vesEmulatorWidget .controlsOverlay>div {
  margin: auto;
}

#vesEmulatorWidget .controlsOverlay>div>div {
  align-self: center;
  display: flex;
  justify-content: space-between;
}

#vesEmulatorWidget .controlsOverlay>div>div {
  border-bottom: 1px dashed var(--theia-activityBar-background);
  margin-bottom: calc(var(--theia-ui-padding) * 4);
  padding-bottom: calc(var(--theia-ui-padding) * 4);
}

#vesEmulatorWidget .controlsOverlay>div>div:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

#vesEmulatorWidget .controlsOverlay .buttonAssignmentGroup {
  display: table;
}

#vesEmulatorWidget .controlsOverlay .buttonAssignmentGroup>div {
  display: table-row;
}

#vesEmulatorWidget .controlsOverlay .buttonAssignmentGroup>div:hover,
#vesEmulatorWidget .controlsOverlay .buttonAssignmentGroup>div.highlighted {
  background-color: var(--theia-list-hoverBackground);
  color: var(--theia-list-hoverForeground);
}

#vesEmulatorWidget .controlsOverlay .buttonAssignmentGroup>div>span {
  display: table-cell;
  padding: var(--theia-ui-padding) calc(var(--theia-ui-padding) * 2);
}

#vesEmulatorWidget .controlsOverlay .buttonAssignmentGroup .theia-button {
  min-width: 80px;
}

#vesEmulatorWidget .controlsController {
  align-items: center;
}

#vesEmulatorWidget .controlsController .controllerImage {
  margin: 0 calc(var(--theia-ui-padding) * 4);
  position: relative;
}

#vesEmulatorWidget .controlsController .controllerImage img {
  max-width: 500px;
  width: 100%;
}

#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay {
  background-color: #fff;
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay:hover,
#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.highlighted {
  opacity: 1;
}

#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.power {
  height: 4%;
  left: 44.5%;
  top: 36.3%;
  transform: perspective(7px) rotateX(-10deg);
  width: 11%;
  border-radius: 2px;
}

#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.select,
#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.start,
#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.a,
#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.b,
#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.lt,
#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.rt {
  border-radius: 50%;
  height: 7.8%;
  width: 7.8%;
}

#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.lup,
#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.lleft,
#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.lright,
#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.ldown,
#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.rup,
#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.rleft,
#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.rright,
#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.rdown {
  border-radius: 2px;
  height: 5.5%;
  width: 5.5%;
}

#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.select {
  left: 27.2%;
  top: 38.7%;
}

#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.start {
  left: 34.8%;
  top: 42.2%;
}

#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.lup {
  border-bottom-width: 0;
  left: 15%;
  top: 30%;
}

#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.lleft {
  border-right-width: 0;
  left: 10.9%;
  top: 33.9%;
}

#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.lright {
  border-left-width: 0;
  left: 19.5%;
  top: 33.9%;
}

#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.ldown {
  border-top-width: 0;
  left: 15%;
  top: 38.4%;
}

#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.lt {
  left: 13.8%;
  top: 7.7%;
}

#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.b {
  right: 34.8%;
  top: 42.2%;
}

#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.a {
  right: 27.2%;
  top: 38.7%;
}

#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.rup {
  border-bottom-width: 0;
  right: 15%;
  top: 30%;
}

#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.rleft {
  border-right-width: 0;
  right: 19.5%;
  top: 33.9%;
}

#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.rright {
  border-left-width: 0;
  right: 10.9%;
  top: 33.9%;
}

#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.rdown {
  border-top-width: 0;
  right: 15%;
  top: 38.4%;
}

#vesEmulatorWidget .controlsController .controllerImage .buttonOverlay.rt {
  right: 13.8%;
  top: 7.7%;
}

#vesEmulatorWidget .controlsKeyboard {
  align-items: start;
}