#vesEmulatorSidebarWidget {
  display: flex;
  flex-direction: column;
  outline: none;
}

.emulatorSidebarWidget {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.emulatorSidebarWidget .theia-button {
  margin-left: 0;
}

.emulatorSidebarWidget .runActions {
  border-bottom: 1px solid var(--theia-activityBar-background);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--theia-ui-padding);
  padding: calc(var(--theia-ui-padding) * 2);
}

.emulatorSidebarWidget .emulatorConfigsWrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.emulatorSidebarWidget .emulatorConfigsOverview {
  border-bottom: 1px solid var(--theia-activityBar-background);
  cursor: pointer;
  padding: calc(var(--theia-ui-padding) * 2);
  position: relative;
}

.emulatorSidebarWidget .emulatorConfigsOverview .fa {
  position: absolute;
  right: calc(var(--theia-ui-padding) * 2);
  top: calc(50% - 5px);
}

.emulatorSidebarWidget .emulatorConfigs {
  flex-grow: 1;
  overflow: auto;
}

.emulatorSidebarWidget .emulatorConfigs .emulatorConfigsActions {
  padding: calc(var(--theia-ui-padding) * 2);
}

.emulatorSidebarWidget .emulatorConfig {
  border-bottom: 1px solid var(--theia-activityBar-background);
  display: flex;
  flex-direction: column;
  gap: var(--theia-ui-padding);
  padding: calc(var(--theia-ui-padding) * 2);
}

.emulatorSidebarWidget .emulatorConfig>div {
  display: flex;
  gap: var(--theia-ui-padding);
  justify-content: space-between;
}

.emulatorSidebarWidget .emulatorConfig>div>div {
  align-items: end;
  display: flex;
}

.emulatorSidebarWidget .emulatorConfig label {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
}

.emulatorSidebarWidget .emulatorConfig button {
  height: calc(2 * var(--theia-border-width) + var(--theia-content-line-height) + 2px);
  min-width: 32px;
  width: 32px;
}

.emulatorSidebarWidget .emulatorConfig textarea {
  line-height: 120%;
  min-height: calc(2 * var(--theia-border-width) + var(--theia-content-line-height) + 2px);
  padding: 3px 5px;
  resize: vertical;
}