#vesFlashCartsWidget {
  display: flex;
  flex-direction: column;
  line-height: 130%;
  min-width: 250px;
}

#vesFlashCartsWidget .flashingActions {
  border-bottom: 1px solid var(--theia-activityBar-background);
  padding: 19px;
}

#vesFlashCartsWidget > div:last-child {
  flex-grow: 1;
  overflow: auto;
}

#vesFlashCartsWidget .flashCart {
  border-bottom: 1px solid var(--theia-activityBar-background);
  padding: 19px;
}

#vesFlashCartsWidget .theia-button {
  margin: 0;
}

#vesFlashCartsWidget .theia-button.flash {
  width: 100%;
}

#vesFlashCartsWidget .flashCartTitle {
  font-size: 150%;
  line-height: 150%;
}

#vesFlashCartsWidget .flashCartInfo {
  padding: var(--theia-ui-padding) 0;
}

#vesFlashCartsWidget .flashCartInfo div {
  margin: var(--theia-ui-padding) 0;
  padding-left: 24px;
  position: relative;
}

#vesFlashCartsWidget .flashCartInfo div i {
  left: 0;
  position: absolute;
  top: 1px;
}

#vesFlashCartsWidget .cartImgWrapper {
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: calc(var(--theia-ui-padding) * 2);
  padding: calc(var(--theia-ui-padding) * 2);
  text-align: center;
}

#vesFlashCartsWidget .cartImgWrapper img {
  max-width: 100%;
  width: 200px;
}

#vesFlashCartsWidget .flashingPanel {
  margin-bottom: calc(var(--theia-ui-padding) * 2);
}

#vesFlashCartsWidget .progressBar {
  background: rgba(0, 0, 0, 0.2);
}

#vesFlashCartsWidget .progressBar div {
  color: var(--theia-button-foreground);
  background-color: /*var(--theia-button-background)*/ #4aa94e;
  line-height: 32px;
  text-align: center;
  width: 0px;
}

#vesFlashCartsWidget .progressBar div span {
  padding: 0 var(--theia-ui-padding);
}

#vesFlashCartsWidget .flashLogWrapper {
  margin-bottom: calc(var(--theia-ui-padding) * 2);
}

#vesFlashCartsWidget .flashLog {
  background: rgba(0, 0, 0, 0.2);
  font-size: 80%;
  margin-top: calc(var(--theia-ui-padding) * 2);
  max-height: 300px;
  overflow: auto;
  padding: calc(var(--theia-ui-padding) * 2);
}