#vesFlashCartWidget {
  display: flex;
  flex-direction: column;
  line-height: 130%;
  min-width: 200px;
  padding: 19px;
}

#vesFlashCartWidget .flashCartTitle {
  font-size: 150%;
}

#vesFlashCartWidget .flashCartInfo {
  margin: var(--theia-ui-padding) 0;
}

#vesFlashCartWidget .flashCartInfo div {
  margin: var(--theia-ui-padding) 0;
  padding-left: 24px;
  position: relative;
}

#vesFlashCartWidget .flashCartInfo div i {
  left: 0;
  position: absolute;
  top: 1px;
}

#vesFlashCartWidget .cartImgWrapper {
  background: rgba(0, 0, 0, 0.2);
  padding: calc(var(--theia-ui-padding) * 2);
  text-align: center;
}

#vesFlashCartWidget .cartImgWrapper img {
  max-width: 100%;
  width: 250px;
}

#vesFlashCartWidget .flashingPanel {
  margin: calc(var(--theia-ui-padding) * 2) 0;
}

#vesFlashCartWidget .flashingPanel div {
  margin: var(--theia-ui-padding) 0;
}

#vesFlashCartWidget .flashingPanel .theia-button {
  margin: calc(var(--theia-ui-padding) * 2) 0;
}

#vesFlashCartWidget .flashingPanel .theia-button.flash {
  width: 100%;
}

#vesFlashCartWidget .progressBar {
  background: rgba(0, 0, 0, 0.2);
  margin: var(--theia-ui-padding) 0;
}

#vesFlashCartWidget .progressBar div {
  color: var(--theia-button-foreground);
  background-color: var(--theia-button-background);
  line-height: 26px;
  text-align: center;
  width: 0px;
}

#vesFlashCartWidget .progressBar div span {
  padding: 0 var(--theia-ui-padding);
}